[2013-11-25 05:22] panesofglass opened #1 "Type Provider"
Create an type provider that erases **to** the OWIN dictionary. Perhaps this could use types from System.Net.Http at design time. Benefits include increased performance since mapping completes at design time rather than runtime.

I would also like to push this all the way down to the network stream rather than starting with an OWIN IDictionary.

[2013-11-28 13:16] panesofglass opened #2 "Stronger Typing"
One goal for this project is to provide meaningful types over the OWIN environment dictionary and to do this somewhat efficiently. #1 offers one, dreamer option. This is the second.

Consider the following:
1. Map an incoming OWIN dictionary directly into `System.Net.Http` types
2. Making `Environment` implement `IDictionary<string, obj>` with `System.Net.Http` types as the backing store
3. Adding

[2014-06-08 21:54] panesofglass opened #5 "Make Environment immutable"
See concerns in #6.

[2014-06-08 21:58] panesofglass opened #6 "Investigate use of the update monad for tracking modifications to Environment"
Now that we have @kolektiv's `OwinMonad`, which uses Lenses, is this needed or worth the effort?

See http://tomasp.net/blog/2014/update-monads/index.html and http://www.infoq.com/news/2014/03/ddd-cqrs-fsharp

Concerns:
* will this break use with other OWIN middleware components?

Pros:
* tracing/logging built-in to the pipeline!
* ability to write components that can adapt to previous behaviors b

[2014-06-08 22:00] panesofglass opened #7 "Railway-Oriented Programming Combinators"
See http://fsharpforfunandprofit.com/posts/recipe-part2/

[2014-06-08 22:03] panesofglass opened #8 "Provide adapter for System.Net.Http types"

[2014-06-08 22:03] #8 closed, assigned to nobody

[2014-07-31 20:27] panesofglass opened #12 "Break out a Dyfrig.Experimental library for experimental bits"

[2014-07-31 20:28] panesofglass opened #13 "Break out SystemNetHttpAdapter into its own library"

[2014-07-31 20:28] #5 closed, assigned to nobody

[2014-07-31 20:29] #7 closed, assigned to nobody

[2014-07-31 20:30] #2 closed, assigned to nobody

[2014-07-31 22:01] kolektiv opened #14 "Potential approach to adding in a basic monadic element"
See tree at https://github.com/kolektiv/dyfrig/tree/2ae295413be00d52ce162c303fdb87f2ad2c0260

Intentionally leaves any actual lens implementations out at this stage. Possibly a "blessed" standard set could exist at some point, but I don't know what they'd look like yet! Looking more closely at the railway pieces, it looks like they'd work really well as a set of operators over the monad?

Might se

[2014-08-15 03:45] #14 closed, assigned to nobody

[2014-08-26 19:21] panesofglass opened #16 "`SystemNetHttpAdapter` needs to configure `HttpRequestContext`"
See [notes on `HttpRequestContext`](http://www.strathweb.com/2013/08/asp-net-web-api-2-and-httprequestcontext/). This is especially important to provide properties such as the `IPrincipal` used in the request.

[2014-09-21 04:09] panesofglass opened #20 "todo-backend-fsharp doesn't return correct response status code from Web API"

[2014-10-09 16:27] panesofglass opened #23 "Rename project to Taliesin?"
@kolektiv is working on a router for Dyfrig. A lot of the concepts are shared with https://github.com/frank-fs/taliesin. Several have mentioned they like Taliesin better than Dyfrig.

Should we abandon/merge Taliesin (as a stand-alone project) and rename [Dyfrig](https://en.wikipedia.org/wiki/Dubricius) to [Taliesin](https://en.wikipedia.org/wiki/Taliesin)?

P.S. In case you are thinking, "Pfaw!"

[2014-10-13 15:19] #23 closed, assigned to nobody

[2014-10-13 15:20] #13 closed, assigned to nobody

[2014-10-16 21:17] panesofglass opened #25 "Repository moved"
Please close as an acknowledgement. If you think I should move this to the frank-fs or fractureio orgs, please let me know. I figure this will do until we have a new name and org.

[2014-10-16 21:39] #25 closed, assigned to nobody

[2014-11-13 22:52] kolektiv opened #26 "CORS support in the Machine graph"

[2014-11-13 22:53] kolektiv opened #27 "SPA-esque (or similar) Inspector framework"

[2014-11-13 22:53] kolektiv opened #28 "OWIN Integration"
Support to / from `OwinAppFunc` and `OwinMidFunc`. Primary use cases are to leverage existing tools such as Glimpse and security middleware.

[2014-11-18 15:36] haf opened #29 "Broken build"
[code]

[2014-11-20 05:11] #12 closed, assigned to nobody

[2014-11-20 19:45] #29 closed, assigned to nobody

[2014-12-11 19:03] tpetricek opened #35 "Documentation!"
I had a quick look at the tutorial, but it looks like it needs a bit of work: https://github.com/freya-fs/freya/blob/master/docs/content/tutorial.fsx :-)

[2015-01-04 00:15] panesofglass commented on #26
I just tried again with FireFox. CORS doesn't work there, either. I can only get it to work in Chrome.

[2015-01-04 10:48] kolektiv commented on #26
Hmmm, that's definitely weird then, I'm going to look in to that before merging anything else in!

[2015-01-04 11:36] kolektiv commented on #26
Hmmm, we'll definitely need to come up with some standard testing for this! I just tried it in my Windows VM with a newly installed Firefox, pointing TodoBackend at localhost:7000 and it worked without a hitch. Which is odd... What's the setup you're testing?

[2015-01-04 16:52] kolektiv opened #37 "Build publishing source link/debug information doesn't appear to be running"
Currently should be predicated on branch and build server, but not running when it seems as if it should.

[2015-01-04 16:53] kolektiv commented on #6
Tempted to close this, if we want to revisit at some point we can open a new chain I think. What do you reckon @panesofglass ?

[2015-01-04 16:55] kolektiv opened #38 "Document generation needs to be added to the build"
Should perhaps consider our flows around this, and whether we want it built in the same cadence as releases to master, etc.
Should we consider separate documentation for master (stable, post 1.0?) and develop? Worth a chat.

[2015-01-04 16:56] kolektiv commented on #27
Shifting this to 1.1. Inspection in general is nice, but not critical path for usage initially (although the sooner the better).

[2015-01-04 16:56] kolektiv opened #39 "Build publishing NuGet packages"
Not sure if NuGet packages are actually being published. Perhaps @panesofglass to check the keys, etc. on AppVeyor?

[2015-01-04 16:58] kolektiv opened #40 "Move to Freya organisational accounts for CI?"
At the moment the CI on AppVeyor and Travis is under @panesofglass accounts. We should probably look to move these to freya accounts for maintainability/admin scaling perhaps.

[2015-01-04 18:04] kolektiv commented on #1
Probably this can be closed now - future type provider based ideas should probably get their own issue (such as potential type provider usage for strongly typed routing, templating, etc.)

[2015-01-05 20:04] kolektiv opened #41 "Consider the creation of Freya metapackage"
For those users (especially new users) who wish to simply grab everything they'll need (and especially when doing things like following along with tutorials), perhaps we could create a package simply called "Freya" - or something suitably descriptive alternatively - which would bring in all of the stable mainstream libraries in the stack (excluding anything published under experimental, etc.)

[2015-01-05 20:05] kolektiv opened #42 "Consider publishing of experimental parts of the stack under a specific namespace"
...or if a namespace/assembly name shift is deemed too intrusive, perhaps some other approach. I'm not sure that simply prerelease packages will be enough, as I'd like to have regularly pushed prerelease packages from the develop branch, and master representing stable. But I'm open to more sensible suggestions... @panesofglass ?

[2015-01-05 21:32] panesofglass opened #43 "Logo!"

[2015-01-05 21:33] panesofglass commented on #42
Well, I'm at the point where I would like to remove the `System.Net.Http` adapter. I think it detracts from what Freya offers. If everything else is plugins, we probably don't need an additional namespace.

[2015-01-05 21:46] panesofglass commented on #41
I like it. :+1:

[2015-01-05 21:47] panesofglass commented on #39
I set up a deployment, but it's not run as part of the build. If subsequent builds don't correctly update the version, the build fails for failure to publish.

[2015-01-05 21:48] panesofglass commented on #37
Fixed.

[2015-01-05 21:48] #37 closed

[2015-01-05 21:48] kolektiv commented on #39
Ah yes, that old chestnut! Happy to leave it like this for now then, manually pushing releases probably isn't too bad an idea for now. I'll close this.

[2015-01-05 21:48] #39 closed

[2015-01-05 21:49] kolektiv commented on #41
I'll tweak the build to do so tomorrow.

[2015-01-05 23:07] kolektiv commented on #42
OK that's fair enough - i'll remove it while I'm fiddling with things tomorrow. It's not like it's unrecoverable, it can always be resurrected! I'll close this when that's done. I'll open a new issue with more focus on building releases for develop when I've given it some thought.

[2015-01-07 01:46] kolektiv commented on #41
This is now done and pushed to the develop branch, and will get pulled in to master next time we aim for a fuller release.

[2015-01-07 01:46] #41 closed

[2015-01-07 01:47] kolektiv commented on #35
Definitely still early days but I've started collecting the documentation i'm writing (stubbed in most cases) over at https://github.com/freya-fs/freya.documentation.

[2015-01-07 01:48] kolektiv commented on #42
This has been removed in the latest changes to develop, and will be merged in to master next time we release in that way.

[2015-01-07 01:48] #42 closed

[2015-01-07 01:48] kolektiv commented on #16
Can we close this now as the NetHttpAdapter has gone for the time being @panesofglass ?

[2015-01-07 01:49] kolektiv commented on #20
See #16 in terms of - can we close this? And do we want to reconsider having that sample out there if it's not supported (or code available?) @panesofglass ?

[2015-01-07 01:50] kolektiv commented on #6
Closing this for now as it's not really suited to the current direction. May be worth revisiting at some point but we can create a new issue if it's relevant.

[2015-01-07 01:50] #6 closed

[2015-01-07 14:56] panesofglass commented on #6
Works for me. :)

[2015-01-07 14:56] panesofglass commented on #1
I agree.

[2015-01-07 14:56] #1 closed

[2015-01-07 15:09] panesofglass commented on #16
Yes, let's close this and remove the adapter project. I don't think it makes sense any longer.

[2015-01-07 15:09] #16 closed

[2015-01-07 15:54] panesofglass commented on #20
Closing!

[2015-01-07 15:54] #20 closed

[2015-01-07 15:55] panesofglass commented on #35
Couldn't all this go in the `docs` folder of this project to aid discoverability?

[2015-01-07 15:58] kolektiv commented on #35
At the moment I'm experimenting with it being pulled in to other
repositories as part of a documentation site build etc. In the meantime we
could perhaps submodule it in to docs for now, that way it'll at least show
up while people are browsing GitHub? I'm not sure that the fsformatting
approach is the right one for more general help files etc. but will see
where it ends up...

On 7 January 2015 a

[2015-01-07 20:45] panesofglass opened #44 "Roar-like Hypermedia support"
https://github.com/apotonick/roar

[2015-01-11 02:46] panesofglass commented on #42
I already removed it from master, I think.

[2015-01-11 06:18] panesofglass commented on #28
Glimpse integration into OWIN relies on either `IAppBuilder` magic or explicit weaving of Glimpse middleware around each OWIN middleware. If you (@kolektiv) can document how `Inspector`s work, I can work with @nikmd23 on any remaining issues. I showed him the Graph you were able to generate, but I don't understand `Inspector`s enough to work out any potential issues.

[2015-01-11 11:16] kolektiv commented on #28
Ah interesting, I'd come to the conclusion with Glimpse that it did seem a bit tied to asp.net, and working with more generic low level approaches seemed to require quite a lot of grunt work. It seems I was probably half right! I'm working on some docs, I'll make the inspector one of them, although it's quite early stages, and it's very much open for debate as well!

[2015-01-11 11:34] kolektiv opened #46 "Composability/modularisation of the machine graph"
I've started an experiment around making the machine graph much more flexible to the end user. That's coming along nicely, so this is a placeholder for that, especially to be referenced from issues where modification and extension of the graph may support extra new feature layers.

[2015-01-11 11:35] kolektiv commented on #44
I'm thinking that we might be able to look at this in terms of graph extension - see #46...

[2015-01-11 21:08] panesofglass commented on #28
You would need to look at one of the Glimpse branches in version 2.0 that provides support for OWIN. The original versions of Glimpse were indeed tied to ASP.NET.

[2015-01-12 15:00] panesofglass commented on #44
We could use https://github.com/DotNetHypermedia/DotNetHypermedia

[2015-01-12 16:18] kolektiv commented on #44
Definitely interesting. I'm hoping that the modular machine work might make it quite easy to integrate things like this...

[2015-01-13 00:43] kolektiv commented on #46
As an update, this work is now happening on my develop branch at https://github.com/kolektiv/freya/tree/develop and I'm quite pleased with how it's going. As an example of how this works, see the Freya.Machine.Console (a temporary harness), where the first configuration of the defaults specifies a graph to use - or more accurately, an extension to the existing graph.

See Freya.Machine.Http/Extens

[2015-01-13 04:18] panesofglass commented on #46
Copying @glennblock and @darrelmiller for input, as well.

[2015-01-13 04:25] panesofglass commented on #46
@glennblock in particular, I'm looking at how https://github.com/DotNetHypermedia/DotNetHypermedia might fit into this implementation.

@kolektiv, have you documented this yet? I found https://github.com/kolektiv/freya/blob/develop/src/Freya.Machine/Types.fs#L108-125, but I don't quite know what to do with that at the moment.

[2015-01-13 04:26] panesofglass commented on #44
Tracking in #46

[2015-01-13 04:26] #44 closed

[2015-01-13 05:33] panesofglass opened #48 "Implement Run in Computation Expressions"
I think we could embed the `reify*` functions into the computation expressions by implementing `.Run`. IIRC, `.Run` is appended to the end of a computation and so executes at the very end. That might not be quite the same as what you show in the TodoBackend sample, but I think it would work and clean up that bit of noise in the sample. Thoughts?

[2015-01-13 05:35] panesofglass commented on #48
This is just a suggestion. As @tpetricek notes [here](http://stackoverflow.com/questions/3937264/run-method-in-computation-expressions), implementing `.Run` could break composition (unless something has changed).

[2015-01-13 08:31] kolektiv commented on #46
No it's very early indeed at the moment, I haven't ported the graph back over to the new Freya.Machine from Freya.Machine.Old (yes, great use of version control!), but if you look at https://github.com/kolektiv/freya/blob/develop/src/Freya.Machine.Http/System.fs you'll see a tiny example of the graph being built up (non-operator syntax is available!) That means that any new assembly can expose an

[2015-01-13 08:36] kolektiv commented on #48
Yeah, it seems very tempting but sadly in our case it would break composition (which is a really nice aspect of freyaMachine/freyaRouter especially, using the "including" syntax). I'd love to find a way of at least avoiding a family of reify* functions, but I can't think of one without having to create an assembly which knows far too much about everything and sits at the wrong logical level (for e

[2015-01-13 08:53] kolektiv opened #49 "HAL support"
I'm going to add this in specifically as a placeholder/experiment. I think the best way to emerge generalized support for multiple hypermedia (referencing #44 and #46 here) standards is going to be to start with building support for one specific standard and then extracting lessons from that process (nothing of course stops us from doing this collaboratively and sharing any useful results of that

[2015-01-13 13:36] panesofglass commented on #48
Yes, let's leave it open if you don't mind. Another point on the `reify*` naming, could this be renamed to something like `Machine.toPipeline` (assuming we drop the `Freya` prefix). That's the point of the `reify*` functions, isn't it? Many to whom I have shown `reify*` get a bit spooked. If the goal is to convert a computation to the more general `Pipeline`, I think `toPipeline` might be clearer,

[2015-01-13 13:44] panesofglass commented on #46
I definitely like the direction. I'm impressed you are able to add in those validations, as well. Great job!

With respect to `handleHypermediaOk`, I think it will be interesting to see how to weave in content negotiation so that multiple representation formats can be added in with rules governing how to select the appropriate representation. Would you handle this using a sub-graph to select the a

[2015-01-13 14:29] kolektiv commented on #48
No I think you've understood them perfectly, and something like Machine.toPipeline makes sense, along with Router.toPipeline. It is undeniably better than the current, so I'll change it :)

[2015-01-13 14:32] kolektiv commented on #46
I think the question of exactly how best to implement things with graph modifications is still open - one of the things I'm hoping to discover with some experimentation as part of #49. It is essentially likely to be something like splicing a sub-graph in to the overall graph, or replacing/wrapping the existing node in  some way. I think it's going to be quite interesting to explore the different a

[2015-01-13 15:23] forki commented on #35
could you add a link to the current docs in the readme?

[2015-01-13 15:24] forki commented on #38
versioned documentation are a general issue with the current FSharp.Formatting "ProjectScaffold" process.

[2015-01-13 15:26] forki commented on #43
Maybe @sergey-tihon can help here!?

[2015-01-13 15:51] panesofglass commented on #43
We are already iterating on one. Thanks, though!

[2015-01-13 15:55] panesofglass commented on #35
Yes, good idea. Links added to README

[2015-01-13 16:01] sergey-tihon commented on #43
Something like this ;)
![image](https://cloud.githubusercontent.com/assets/1197905/5723634/60118568-9b56-11e4-8322-0fd7f1022769.png)
from http://www.mylifetime.com/shows/witches-of-east-end/cast/jenna-dewan-tatum

[2015-01-13 16:12] panesofglass commented on #43
@mathias-brandewinder wanted

![Freya with her cat-drawn carriage](http://www.viking-mythology.com/img/Freya_rode_in_a_chariot_pulled_by_two_black_or_gray_cats.jpg)

from http://www.viking-mythology.com

[2015-01-13 16:14] panesofglass commented on #43
Some progress appears below:

![screen shot 2014-12-04 at 11 39 09 pm](https://cloud.githubusercontent.com/assets/8803/5723826/bbec46c4-9b0c-11e4-93cd-7390ed2ac84e.png)
![screen shot 2014-12-04 at 11 47 54 pm](https://cloud.githubusercontent.com/assets/8803/5723829/c1e0eb20-9b0c-11e4-9511-022a15b76bd2.png)
![screen shot 2014-12-11 at 8 35 54 am](https://cloud.githubusercontent.com/assets/8803/5723

[2015-01-13 16:15] forki commented on #43
omg that's aweesome!

[2015-01-13 16:15] sergey-tihon commented on #43
This one looks interesting!
![image](https://cloud.githubusercontent.com/assets/1197905/5723872/7b29a4aa-9b58-11e4-9fb9-16fd062c5752.png)

[2015-01-13 16:15] panesofglass commented on #43
@goodnightjj from Tachyus volunteered and has been helping. We slowed down over the holidays, but I think we are close!

[2015-01-14 12:53] kolektiv opened #50 "vNext support"
This is really here as a reminder to make sure that this stuff works seamlessly with whatever stuff vNext is about to throw down the pipe. I don't know what changes are relevant yet, and I'd like to find out, along with potentially supporting a wrapper/adapter project if we find that we need to support some new and "interesting" abstraction (Builder.ofFreya or something maybe, I don't know...)

Ma

[2015-01-14 17:16] panesofglass commented on #50
I have not been tracking it as closely as I'd like. I know they have support for OWIN apps, and @Alxandr has been tracking and building support [here](https://github.com/YoloDev/YoloDev.FSharp.AspNet). I saw recently that @KevinRansom was working on .NET Core support for F#, as well.

[2015-01-14 18:01] kolektiv commented on #50
Hmmm. Things seem to be more around providing support for F# in ASP.NET, which, in the nicest possible way, doesn't interest me too much :) Maybe we don't need to worry too much and we can sit lower in the stack?

I think what I'm most worried about is middleware reusability - I want to make sure that using middleware in Freya will be easy, and that might be awkward if MS have wrapped it in some n

[2015-01-14 22:07] panesofglass commented on #50
@kolektiv I think we can just leverage the OWIN support `app.UseOwin()` and hook into that. The .NET Core support could be useful there.

[2015-01-14 22:09] panesofglass commented on #50
As to `MidFunc`, MS isn't doing anything with the concept of middleware, at least not true middleware. Most of their concerns are building up applications by leveraging a `404` fall through. Security and other components, like those from Thinktecture, should support the `MidFunc` or be convertible to `MidFunc`.

[2015-01-14 22:10] panesofglass commented on #50
`MidFunc` is `Func<AppFunc, AppFunc>`, and yes, the nicknames are pretty bad.

[2015-01-14 22:11] panesofglass commented on #50
FWIW, I would expect our current implementation to run on .NET Core so long as dependencies, e.g. FParsec and Aether do so. I'm a little concerned about FParsec making the jump.

[2015-01-14 22:13] kolektiv commented on #50
I'm pretty confident in Aether (I can't think of anything even vaguely outré that I do in there. FParsec, I'm not too sure. That might be a bit of a stretch (in fact it might be worth testing that at some point - i'll grab the code and try!)

[2015-01-14 22:14] KevinRansom commented on #50
I have started a fork on CodePlex for enabling F# support for the NetCore platform, currently it can be a netcore fsharpcore, which is clearly the most necessary first step.

I will port the fork to GitHub now that we have moved visualfsharp to there and get back on it.  Clearly though this will need people to look at it and try it out for a variety of projects.  Perhaps once I have created a coup

[2015-01-16 15:59] panesofglass opened #51 "Resource naming in machines"
Given URIs are just names for resources, and resources are defined as machines, does it make sense to apply the URI as a parameter to the machine definition rather than lean on a separate routing mechanism? This would provide a similar mechanism to attribute routing in the ASP.NET MVC.

The reason I ask is that, in discussing Freya with a friend this morning, it struck me that we are defining reso

[2015-01-16 16:09] kolektiv commented on #51
Hmmm, it's an interesting one. At the moment I quite like the fact that they're separate. The router has intrinsic value as a router of "any pipeline" and resources are just pipelines once reified (naming changed in my fork already!). Also a resource may exist at multiple locations quite feasibly, so it's not necessarily something which is strictly bound. I'm hoping that the router will gain other

[2015-01-16 16:20] panesofglass commented on #51
Agreed; again just posed it for discussion.

[2015-01-16 16:21] panesofglass commented on #40
Done! Check AppVeyor. You may need to sign out to see the freyafs org in AppVeyor. Please reopen if you have problems.

[2015-01-16 16:21] #40 closed

[2015-01-16 17:53] kolektiv commented on #40
Fantastic! Works for me, that's awesome :) Thanks!

[2015-01-16 17:54] panesofglass opened #52 "Task or Hopac"
Should we consider `Task` or `Hopac` rather than `Async`? See [performance comparisons](https://mrange.wordpress.com/2015/01/10/concurrency-performance-fsharp/). I would love to leverage Hopac, as it works with `Task`s and also provides a very nice F# API. `Task` would be next on the list. OWIN already uses `Task`, so we are always having to map between `Async` and `Task`. I've considered doing th

[2015-01-16 17:55] panesofglass commented on #52
@haf, I'd be interested in your thoughts here, as well. Are you and @ademar considering Hopac for Suave?

[2015-01-16 17:57] panesofglass commented on #52
[`Task` support can be found in F#x](https://github.com/fsprojects/fsharpx/blob/master/src/FSharpx.Core/ComputationExpressions/Monad.fs#L911-1075). I'm not certain as to its quality. @mausch, is the `TaskBuilder` in good shape?

[2015-01-16 18:03] kolektiv commented on #52
I'm personally more than willing to consider an alternative to the underlying async aspect. It was my default choice as it seemed to make sense as a first attempt but I'd be delighted if something else better could be dropped in. To some extent I expected that most of the async stuff in a web framework would probably be doing IO, so I'm not sure what degree of gains we'd see from an alternative, b

[2015-01-16 18:16] mausch commented on #52
I'm not aware of anyone actually using the FSharpx Task CE. I'm not aware of any outstanding issues with it either.
It sure would be nice to be able to [abstract that away](http://logji.blogspot.co.uk/2014/02/the-abstract-future.html) but F# just isn't powerful enough (unless you take the "inline everything" route or that other   weird encoding of monads I always forget about).

[2015-01-16 18:21] haf commented on #52
Yes, we are. https://github.com/SuaveIO/suave/issues/97#issuecomment-53071154

I haven't finished (or even started *gasp!*) the red book yet. But I have it close by ;) and will soon be too tempted to start it.

![dsc_0025](https://cloud.githubusercontent.com/assets/193115/5781659/dea2fad2-9db4-11e4-9975-6fcd942e483a.JPG)

[2015-01-16 18:23] kolektiv commented on #52
It's probably worth an experimental branch at some point to see if we could come up with benchmarks (when we have some more stability, probably after I finish the major redesign of the underlying graph system!) It shouldn't be too hard to change our current monad which is basically AsyncState to be TaskState, especially given a sensible example of a Task monad to look at.

As with @mausch, I'd lov

[2015-01-16 18:23] kolektiv commented on #52
@haf I'm glad I'm not the only one with that book sat making me feel guilty near my desk! I'm about half way through - and it's really good, I just have so much else to do!

[2015-01-16 18:38] panesofglass commented on #52
I'm mostly done with the Reppy book. I still have some examples to read through. It's quite good. @VesaKarvonen left a [note in the F# Web Stack discussion list about trade-offs to consider](https://groups.google.com/d/msg/web-stack-fs/CM-z1d0KmE0/V8H5KJG_iRUJ). Looks like we are on the same page: we all want to experiment further. Perhaps a maintained branch using Hopac `Job`s? Should we investig

[2015-01-16 18:44] kolektiv commented on #52
I think it would be great to have some branches experimenting with both, absolutely. My only concern with both is that they may require F# devs to know something more than async (with Task they're likely to be fairly familiar already, with Job maybe less so...) That's not going to stop some experimentation though, or at least I don't think it should!

[2015-01-16 21:03] VesaKarvonen commented on #52
Like I've said previously, feel free to submit questions as issues on the Hopac GitHub project.  I'm happy to help as long as my time permits.  I think that if you would use Hopac (or Task) internally, it would not be difficult to allow user code to use Async, as you can interface between those quite easily.

Note that Job isn't the "difficult" part of Hopac.  Understanding Alts and learning to us

[2015-01-17 16:40] panesofglass commented on #46
@kolektiv do we have the functions necessary to help a machine select the correct representation yet?

[2015-01-22 05:58] #48 closed

[2015-01-23 15:21] panesofglass commented on #46
Several of the attendees of my talk (well, for sure one of them) thought the idea of composing the graph sounded interesting. Things to consider:

* If a goal is to drop people into the pit of success, how do we do that if we don't push the graph on them? How do we prevent them from doing bad things?
* How do we handle potential graph collisions?
  * Will graphs always be separate paths, and if so

[2015-01-23 15:30] panesofglass commented on #46
Missed another question:

* How do you toggle available builder functions?

For this one, I think the answer is that the `using` leverages type extensions to add additional builder members that then provide either additional overloads to the builder. I'm not sure, though, how you control that using the `using` expression since type extensions are typically added by opening the relevant library. Al

[2015-01-23 20:51] panesofglass opened #53 "Generate Hydra, json-home, or other API documentation from Graph"
A benefit of leveraging the graph and knowing the resources defined is that we should be able to generate and provide API documentation in the form of the following, incomplete list (listed by alpha):
- [hydra](http://www.markus-lanthaler.com/hydra/)
- [json-home](http://tools.ietf.org/html/draft-nottingham-json-home-02)
- [RAML](http://raml.org/index.html)
- [Swagger](http://swagger.io/) /cc @cas

[2015-01-23 20:52] panesofglass commented on #53
I wonder if we could make this a two-way street, providing a type provider over those document formats and generating the `freyaMachine`s / `freyaPipeline` that matches the definitions. (This may be a separate issue, but I'll leave them tied together for the time being.)

[2015-01-23 23:32] casualjim commented on #53
Might I suggest these projects for some more ideas on what's possible with swagger.

https://github.com/apigee-127/swagger-tools
https://github.com/casualjim/go-swagger#whats-inside

There will be a much larger writeup on what the go version does and how it works as that one will go quite a bit further than the nodejs one.

[2015-02-03 14:59] panesofglass opened #55 "Simple File Server returns 406 rather than 404"
The simple file server demo highlighted a bug in the machine/routing implementation. The path accepts a parameter representing the file name. When I ran the server and entered a valid file, I received the file in the response. However, if I used a non-existing file, I received a 406, indicating that the response could not be formatted properly. This should have resulted in a 404.

Actual status co

[2015-02-03 15:00] panesofglass opened #56 "Push test results into AppVeyor Test tab"
See http://fsharp.github.io/FAKE/apidocs/fake-appveyor.html

[2015-02-03 15:06] kolektiv commented on #55
Indeed, I'll take a look at that...

[2015-02-08 22:11] panesofglass opened #58 "Some projects missing AssemblyInfo.fs"
- [x] <s>Freya.Machine.Console</s> (now a test project)
- [x] Freya.Machine.Extensions.Http
- [x] Freya.Machine.Extensions.Http.Cors

[2015-02-09 04:00] #56 closed

[2015-02-09 10:33] kolektiv commented on #28
So, I'm getting my head around this, however, I've realised I don't quite fully understand the specification/intended usages of OWIN MidFuncs, etc. are they essentially double tap middleware? Is there a specification for these somewhere and some examples of how they're implemented and actually used?

[2015-02-09 16:17] panesofglass commented on #28
@kolektiv I can't find @serialseb's draft spec for `MidFunc`. The basic concept is that it follows a russian doll model of composition. A `MidFunc` accepts an `AppFunc` and produces a new `AppFunc`. The `MidFunc` may take some actions before and/or after` executing the provided `AppFunc`. The `MidFunc` may also decide to halt progress and complete the `Task` itself, never calling the provided `App

[2015-02-09 21:07] serialseb commented on #28
https://github.com/openrasta/owin.spec/blob/master/spec/middleware-1.0.0-draft.1.md

[2015-02-10 03:41] panesofglass commented on #28
Thanks, @serialseb!

[2015-02-10 11:50] kolektiv commented on #28
Thanks @serialseb - I get the approach now. The middleware approach is what I would usually refer to as "double tap" as opposed to our current pipeline model which is basically single tap. I wonder if we should consider changing the pipeline model to make it double tap in some way? Would be quite easy to define an inductive definition for a pipeline like that which would be simple to program again

[2015-02-10 21:16] panesofglass commented on #28
@kolektiv, I'm not sure I follow, but I'm happy to try both approaches: changing the pipeline model and attempting to continue my experiment in #59.

[2015-02-10 21:17] panesofglass commented on #28
@kolektiv, for what it's worth, I have started to prefer the single-tap approach.

[2015-02-11 09:43] kolektiv commented on #28
I guess I'm essentially thinking of changes to the pipeline model which would make it double-tap. As much as anything because, if our pipeline isn't double-tap, I'm not sure how we can properly support owin middleware that is. Like you, in some ways I prefer the simplicity of single-tap, but it doesn't seem to be the way that OWIN is going? I might have a quick play with the pipeline model too. I

[2015-02-11 11:08] kolektiv commented on #46
I'm updating this as I realise I didn't do so before, but having worked with the graph work now to the point where it's usable, I think I can...

* I think that making it as easy as possible (as I think it currently is) is probably about all we can do - plus good docs. Possibly also some warning messages if you ever try to compile a graph which is simply Start -> Finish!
* Graph collisions is tric

[2015-02-11 17:13] panesofglass commented on #28
Yep, that's what I'm working on in the PR.

[2015-02-11 17:14] kolektiv commented on #28
In that case, awesome :) I'll look forward to seeing that!

On 11 February 2015 at 17:13, Ryan Riley <notifications@github.com> wrote:

[2015-02-12 14:40] panesofglass opened #61 "Support HTTP PATCH (RFC 5789) in the graph"
What do you think about supporting [HTTP PATCH](http://tools.ietf.org/html/rfc5789) in the graph? Would this be part of the defaults or an extension?

[2015-02-13 00:17] kolektiv commented on #61
I think this is probably something which would fit as an extension in some form. I'm not totally sure exactly what form yet! I want to do some work on a new and more extensible baseline graph at some point, which will provide a more extension friendly topology, and pare the default graph back to the core RFC 7230-7235 definition of HTTP. From that point, things like CORS, PATCH support (as it's no

[2015-02-13 00:26] kolektiv opened #62 "Hypermedia Support (General)"
Referencing #49 as perhaps a concrete question, come up with some strategy for what to support and how in the hypermedia space. At first glance the space is confusing and difficult to tell what's actually adopted and how prevalently. Off the top of my head as a start for ten in hypermedia standards...

* HAL
* Collection+JSON
* Siren
* JSON Hyper Schema
* JSON-API
* UBER

Any others to consider ob

[2015-02-13 07:59] haf commented on #62
JSON-anything has mostly missed the point of content negotiation, imo. JSON-LD seems to be xsd all over again.

Linking seems common, specifically Siren, HAL, Uber.

I've looked into HAL a bit more and it's mostly a single level deep, so you could represent links etc with a record and lists, without making it all stringly typed, but I think the hardest step would be to render models into this reco

[2015-02-13 11:00] kolektiv commented on #62
On the JSON-anything point - hmmmm. I kind of agree in principle, but it's usually a common case in my experience that an API usually just defines itself by the intentions of the creator. Being able to actually serialize representations to anything that the developer didn't plan for at code time doesn't really exist. Given that, at the level of abstraction following an actual hypermedia standard r

[2015-02-13 17:43] panesofglass commented on #62
I just added HTML to the list. @mamund has a good list [here](http://amundsen.com/hypermedia/). In addition, I think it best to model hypermedia support in terms of [H Factors](http://amundsen.com/hypermedia/hfactor/).

Another possibility is to model by [affordances](http://mamund.com/articles/hypermedia-oriented-design/), though I think this would be more difficult as you would need to know the

[2015-02-13 17:46] panesofglass commented on #62
It's also worth pointing out that Hydra is really the hypermedia piece associated with JSON-LD. The latter provides semantics for [Linked Data](http://blog.ouseful.info/2010/03/03/so-what-is-it-about-linked-data-that-makes-it-linked-data%E2%84%A2/), which may open a whole new area of exploration. While we may support it, I think it better to try to start with just the hypermedia aspects.

[2015-02-13 18:38] panesofglass commented on #61
Sounds good to me.

[2015-02-18 11:53] kolektiv opened #63 "Split Types.* Libraries to separate project?"
I find that I work on other libraries which could really use some of the types in the Freya.Types.* libraries. I'm not sure that I want them to have a dependency on part of a web stack though. Would the types be better off in a separate project (perhaps under a different name?) to make them more accessible to projects outside of the Freya web stack?

Perhaps if they remained Freya.Types (as a top

[2015-02-18 18:57] panesofglass commented on #63
Is NuGet packaging not sufficient?

[2015-02-18 19:54] kolektiv commented on #63
It probably is, it's more of a thought experiment. Would a standalone types library encourage re-use more than them "seeming" like a part of a big stack... In my case it's probably not an issue really (except for questions of subjective taste), just a consideration.

Anecdatally (sic) one or two people did seem to like the idea of a good library/library set of web types...

[2015-02-19 16:17] panesofglass commented on #63
Would you somehow remove the Freya dependency? If so, I could see them being split out and useful, though I like retaining the name. My hesitancy comes from having done this on WebApiContrib, where I thought by pulling everything out, I would see more people contribute. That was not the case. Instead, I now have to manage a large number of builds and repos. :( I still need to resolve that build is

[2015-02-19 16:22] kolektiv commented on #63
Well, the Types library actually has no Freya dependency! Freya.Types +
Freya.Types.* is actually a self contained set - they have no dependency on
Freya.Core or other bits... So in theory they could be a self contained set
of libraries.

Difficult one, I'm not too sure either!

On 19 February 2015 at 16:17, Ryan Riley <notifications@github.com> wrote:

[2015-02-19 16:24] panesofglass commented on #63
@kolektiv, that's excellent! We should keep it that way. Not sure if you caught the update to my previous comment. I added the following:

[2015-02-19 16:26] kolektiv commented on #63
Yeah that's fair enough, let's keep an eye on it for a bit... (The place it came up was Chiron.Schema, when I really wanted an AbsoluteUri type...)

[2015-02-22 22:42] kolektiv opened #66 "Separate Freya.Types into a new library: Arachne"
I've experimentally (in a branch of my fork) pulled the types out of Freya.Types[.\*] and in to a new set of libraries called Arachne[.*] These libraries contain solely F# idiomatic types and parsers for web related programming, without tying the types to any specific web framework implementation. They can be used completely independently, wherever you might need special-purpose web based types.

[2015-02-27 21:48] kolektiv commented on #26
Closing for now, can reopen if anything new pops up.

[2015-02-27 21:48] #26 closed

[2015-02-27 21:51] kolektiv opened #70 "Document composability"
Move some of the content from #46 discussion to actual docs.

[2015-02-27 21:51] #46 closed

[2015-02-27 21:52] kolektiv commented on #49
See #62 for future work.

[2015-02-27 21:52] #49 closed

[2015-02-27 21:52] #28 closed

[2015-02-27 21:54] kolektiv opened #71 "Build Enhancements"
- [x] Documentation Gen - transferred to [Read the Docs](http://docs.freya.io/)
- [x] Switch NuGet to Paket Pack/Push

[2015-02-27 21:54] kolektiv commented on #38
See #71

[2015-02-27 21:54] #38 closed

[2015-02-27 22:01] kolektiv commented on #63
See #66

[2015-02-27 22:01] #63 closed

[2015-02-27 22:07] panesofglass commented on #43
Logo may be found at http://1drv.ms/1zMXGvH

![logo](http://1drv.ms/1zMXGvH)

[2015-02-27 22:11] sergey-tihon commented on #43
:+1:

[2015-02-27 22:20] #58 closed

[2015-02-27 22:20] #43 closed

[2015-02-27 22:21] panesofglass commented on #61
Covered by #54

[2015-02-27 22:21] #61 closed

[2015-02-27 22:24] kolektiv opened #73 "New Extension-Friendly HTTP Graph"
Redesign HTTP graph to be more amenable to extensions, with less logic duplication, and friendliness to things like PATCH support.

[2015-03-03 15:00] panesofglass commented on #62
@kolektiv, I know you are hard at work on Chiron, but I was curious whether you had looked at [FsPickler](http://nessos.github.io/FsPickler/). It supports general serialization, as well as pickler combinators, which should be roughly similar to what you are building. This might offer more options to users. Thoughts?

[2015-03-03 15:18] haf commented on #62
FsPickler is a 'binary' serialiser in the sense that it's not a serialiser for data; but a serialiser for runtime structures.

[2015-03-03 16:12] panesofglass commented on #62
@haf, it has both XML and JSON outputs. I thought that might be useful. Aren't the structures important?

[2015-03-03 16:31] kolektiv commented on #62
While FsPickler has JSON output, it's not really recommended for "user facing" serialization. The JSON it produces and consumes is not very JSON like, but a representation of serialized structures. Form their page:

FsPickler is NOT:
a general-purpose Xml/JSON/BSON framework.
a library designed for cross-platform communication.

I'd love to use it if it was, but I haven't found anything which hit

[2015-03-03 23:13] panesofglass commented on #62
@kolektiv, cool, just wanted to check. I assumed it was something like that.

[2015-03-06 16:01] panesofglass opened #75 "Merge Integration into Pipeline?"
Now that we are up to .NET 4.5, we could merge the Integration project into the Pipeline project. Thoughts?

[2015-03-06 16:37] panesofglass commented on #71
Bad news: `Paket.Pack` requires [paket.template](https://github.com/fsprojects/ProjectScaffold/blob/master/src/FSharp.ProjectTemplate/paket.template) files in every project directory. This will render your typed descriptions in the build unusable. I also don't see a way to add dependencies through the paket.template file, so I think we may be SOL on using `Paket.Pack`.

/cc @forki

[2015-03-06 16:54] forki commented on #71
What do you propose to change in paket?

[2015-03-06 16:55] forki commented on #71
/cc @mavnn

[2015-03-06 16:56] mavnn commented on #71
It adds dependencies for projects automatically for projects, or you can add them manually and put the file wherever you want. I'm not sure what you mean by "typed descriptions"?

[2015-03-06 17:03] mavnn commented on #71
Had a look at the build.fsx; moving to paket pack should allow you to remove all of the dependencies you're manually tracking in the build.fsx. It does mean ending up with a paket.template file in the same directory as each project you want to package, but you could write those automatically in a similar way to the AssemblyInfo updates.

The only one you'd need to construct a manual dependency lis

[2015-03-06 19:05] panesofglass commented on #71
@forki and @mavnn, how would we add dependencies on packages that are not yet deployed? All projects in Freya are intended to be deployed independently and take dependencies on one another. I assume `Paket.Pack` uses `paket.references` to build the dependencies. Will it fail to work if we name them {Project.Name}.paket.references?

[2015-03-06 20:37] mavnn commented on #71
If you put a <proj file name>.paket.template file which is ``type project``
(see the docs) in the same directory it will package the build output of
the project.

It will automatically add dependencies on based on paket.references but
also on any project refs - either as a package dependency if that project
has a matching template file, or by copying the build output into the
package if it doesn't

[2015-03-09 17:52] panesofglass commented on #71
@mavnn, I think I need a tutorial, but this sounds fantastic. Thanks!

[2015-03-09 17:56] panesofglass opened #76 "Publish Freya metapackage"
@kolektiv looks like you published 0.9.0-alpha, right? Would you mind publishing the metapackage, as well, and add me as an owner?

[2015-03-10 18:26] nicholas-peterson commented on #43
While the logo above is excellent, I wonder if anyone considered using the rune 'Fehu', which would be used to spell Freya. It also makes the relation to F# more explicit. http://commons.wikimedia.org/wiki/File:Runic_letter_fehu.svg

[2015-03-10 22:41] panesofglass commented on #43
@nicholas-peterson, we did not even think of it. Thank you for the suggestion!

[2015-03-10 22:54] haf commented on #43
Did you intentionally make a cat-woman-logo?
![screen shot 2015-03-10 at 23 53 50](https://cloud.githubusercontent.com/assets/193115/6587139/c5ff3f4a-c780-11e4-8c77-518da148fa3e.png)

[2015-03-11 17:49] panesofglass commented on #43
@haf, yes indeed. The cats pull Freyja's chariot. Glad you like it!

[2015-04-08 21:33] kolektiv opened #81 "URI Templates - Better Tests"
The URI Templates don't have great tests at the moment for matching. The tests for these should be reworked.

[2015-04-08 21:34] kolektiv opened #82 "URI Templates - Level 3 Operators"
Currently URI Templates support Level 1 & 2 Operators, and Level 4 Modifiers. Need to finish support by adding code to properly handle the Level 3 Operators.

[2015-04-08 21:35] kolektiv opened #83 "URI Templates - Router"
The new URI Template based router, while more powerful, needs to have execution recording designed and wired in.

[2015-04-08 21:35] kolektiv commented on #76
I think this is pretty much fine now, will verify on the next proper build...

[2015-04-10 21:25] #76 closed

[2015-04-14 17:39] panesofglass opened #84 "HEAD throws an exception for a valid resource"
System.Net.ProtocolViolationException was unhandled by user code
Message: An exception of type 'System.Net.ProtocolViolationException' occurred in Microsoft.Owin.Host.HttpListener.dll but was not handled in user code
Additional information: Bytes to be written to the stream exceed the Content-Length bytes size specified.

[2015-04-14 17:56] panesofglass commented on #66
@darrelmiller and @serialseb, would you be interested in us breaking out the types and parsers into a separate set of libraries? @kolektiv put a lot of effort into parsing correctly based on the RFCs. The types are currently far more friendly towards F#, but we can probably work with you to make them more easily consumed from C#. I ask b/c Darrel mentioned he and Seb are both working on parsers.

[2015-04-14 23:08] kolektiv commented on #84
This is a slightly interesting one. The existing HTTP graph modified from the webmachine/liberator world doesn't really deal with HEAD sanely as far as I can tell. I think it's probably a sign that I should probably prioritise #73 higher shortly...

[2015-04-15 16:41] WilliamBerryiii opened #85 "Get HEAD for free with GET method enable"
I would like to propose that HEAD come for free with GET.

[2015-04-16 21:57] panesofglass commented on #85
That sounds reasonable. What do you think, @kolektiv?

[2015-04-20 21:15] kolektiv commented on #85
I need to have a bit of a think about the right way to express this in the graph. It does sound reasonable, the only concern I have is that at the moment all of the Machine configuration is *extremely* explicit. I worry about "implicit" functionality like this as being potentially surprising. Also, I don't want to restrict people from exposing GET but *not* HEAD if they wish/need to (I will admit

[2015-04-23 17:18] WilliamBerryiii commented on #85
I would hazard a guess to say that [head] is left unimplemented more often then not out of ignorance/laziness/lack of time than because of a strategic decision.  Having it implemented out of the gate may be an opportunity encouraging developers to have the caching/existence conversation earlier in the design/implementation process.

[2015-04-24 02:49] panesofglass commented on #85
Per RFC 7231, servers MUST support the `HEAD` method, but I don't see any explicit mention that every resource MUST or even SHOULD support `HEAD`. Let's make it free to add `HEAD` with no other overrides, but not implied to accompany `GET`. I recall explicitly denying `HEAD` in the past b/c of some badly behaved User-Agents. That was probably a mistake, but it's possible others may want to deny su

[2015-04-28 14:12] panesofglass commented on #73
Done!

[2015-04-28 14:12] #73 closed

[2015-04-28 14:13] panesofglass commented on #55
@kolektiv, I think you fixed this, didn't you? If so, would you mind closing?

[2015-04-28 14:14] panesofglass opened #86 "Add HTTP2 graph as another extension"
See http://http2.github.io/

[2015-04-28 14:17] panesofglass opened #87 "Break up HTTP graph into smaller RFC components"
Breaking up the HTTP graph would allow for finer control over which pieces of the graph are wanted by a given team. @darrelmiller asked me about this at [.NET Fringe](http://dotnetfringe.org/). His concern was executing the entire graph for an app that wouldn't support or ever need to leverage certain pieces of the graph. @darrelmiller, would you mind adding any more specifics in the comments?

[2015-04-28 14:18] panesofglass commented on #83
Status update?

[2015-04-28 14:18] panesofglass commented on #82
I'm adding this to milestone 1.0, but could this wait for 1.1?

[2015-04-28 14:20] panesofglass commented on #75
@kolektiv, thoughts? I'm happy to merge them since we are dependent on OWIN. If so, let's move it into milestone 1.0.

[2015-04-28 14:20] kolektiv commented on #73
I'm not sure this is done as such - it's ok for now though, i'm not going to try and change it before next talks/workshops!

[2015-04-28 14:22] kolektiv commented on #85
It needs to work correctly (and with no extra work) when you support HEAD (which it doesn't seem to right now) but I think I'm going to settle on "implicit" head being out of scope. I'm going to close this one and open an issue (if there's not one) on HEAD seeming to be broken. @WilliamBerryiii thanks again for your thoughts and input :)

[2015-04-28 14:22] #85 closed

[2015-04-28 14:24] kolektiv commented on #87
This is definitely interesting, and I'm certainly interested in whether we could do this. It may need a restructure of the graph to make it "thematically" decomposable to some degree, but it's worth a thought experiment at minimum. @darrelmiller - definitely interested in your thoughts.

[2015-04-28 14:25] kolektiv commented on #82
Yes it could wait. I'm OK with providing Level 1 & 2 URI Template support for now, with full support to come. The plumbing is there in the lib, but it's non-urgent (you can do a lot right now, enough to develop most things I think).

[2015-04-28 14:29] kolektiv commented on #83
Looking through my code, this needs a little more work to record the URI template derived routing trie. But it's not far off. I may try and get this bit done tonight, at which point I think URI Template based routing and the surrounding changes may be ready to go in to freya-fs from my branch. develop definitely, maybe master...?

[2015-04-28 14:30] kolektiv commented on #75
Yeah why not - it seems sensible to me if it's possible, one less library around that will reduce confusion potentially. Go for it I think!

[2015-04-28 14:47] kolektiv commented on #86
This is kind of an interesting one - do we think it'll have an impact at the Freya level, or is this more in the realms of the OWIN compatible server layer? I think we're really only dealing with the HTTP semantics (which haven't changed much I think), but if there's something we can do here to make something better, happy to see what that could be!

[2015-04-28 15:16] panesofglass commented on #73
Well, we did merge it into master. I think any additional items should be ticketed independently, if that is okay with you.

[2015-04-28 21:21] darrelmiller commented on #87
I'll explain my thought process that led to my comments and I'll leave it to you folks to determine the validity of my concerns :-).
In Ryan's demo he mentioned the notion of having debugging tooling to help pinpoint issues that might occur in the "web machine" whilst processing a request.  I tend to view the need for additional tooling as a smell that might indicate unnecessary complexity.
My que

[2015-04-28 22:54] panesofglass commented on #86
Yes, I was thinking in terms of the HTTP semantics. I also don't know that anything substantially changes, but I think it worth the exercise to find out and provide a graph if there are differences between 1.1 and 2.0.

[2015-04-28 22:54] panesofglass commented on #83
I'm for moving stuff to master as quickly as possible.

[2015-04-28 22:55] kolektiv commented on #86
Yeah I agree on that :)

On 28 April 2015 at 23:54, Ryan Riley <notifications@github.com> wrote:

[2015-04-29 07:11] kolektiv commented on #87
Interesting thoughts! I think I get where you're coming from. In terms of planned tooling, it's essentially a graph based tracing tool, which is essentially to help you work out what actually happened if the result isn't what you expected (which is, hopefully, a rare occurrence) - and also perhaps to help explore functionality (i.e. "ah, if I implemented that decision/config, I could support ETags

[2015-04-29 07:18] kolektiv commented on #83
Yeah I agree at this stage. PR #90 is now available!

[2015-04-29 07:32] kolektiv commented on #55
Yeah this can be closed as it can be fixed fairly easily in the simple file server.

[2015-04-29 07:32] #55 closed

[2015-04-29 14:18] kolektiv commented on #82
URI Templates now support Level 3 operators and Level 4 modifiers in both parsing and rendering. The only gap in functionality now is in matching, which should come soon, and will bolster the capability of the router too.

[2015-05-02 15:11] #75 closed

[2015-05-03 19:50] kolektiv opened #93 "Support web sockets"
Come up with a decent design/library for supporting web sockets. Not totally sure how they should be mounted/maintained in terms of routing - they're not really something that fits as a pipeline? But yeah, would be good to have pretty soon in some form.

[2015-05-03 23:19] panesofglass commented on #93
I think we just have to model the protocol upgrade from HTTP.

[2015-05-04 00:31] kolektiv opened #94 "Read the Docs for documentation"
Even ASP.NET 5 is now using Read the Docs, and it does work well (and it's free!) I'm going to have a bit of a play, opinions on using that welcome. I think it might be a good option...

[2015-05-04 18:21] panesofglass commented on #94
Sounds good to me!

[2015-05-04 18:27] kolektiv opened #95 "Release 1.0"
An issue for people to track to keep tabs on the 1.0 release of Freya!

[2015-05-04 20:12] panesofglass commented on #93
What do you think, 1.0 or 1.1? Perhaps 1.0 for handling the upgrade? If so, I think we would also want to do something about HTTP Streaming and Server-sent events. I found [this resource](http://enterprisewebbook.com/ch8_websockets.html) helpful. My current vote is push this to 1.*.

[2015-05-04 20:30] kolektiv commented on #93
Yeah 1.1 is probably sane, I'd probably be hopeful of calling what's there
now 1.0 I think, and new features go in to further releases. I think it's
pretty close to sane, and there's no reason we can't stick to semver and
develop from a 1.0 soon.

On 4 May 2015 at 21:12, Ryan Riley <notifications@github.com> wrote:

[2015-05-04 22:55] panesofglass commented on #93
Sure! Let's nail down some docs and present it to the world!

[2015-05-06 14:36] ferventcoder opened #96 "NuGet package points to a bad projectUrl"
https://www.nuget.org/packages/Freya.Machine/0.11.0-alpha-173 has a project url of http://freya-fs.github.com/freya - I noticed that is giving an error this morning. Not sure if it is related to github going down earlier or not. Anyway, just wanted to give you a heads up!

[2015-05-06 14:45] panesofglass commented on #96
Thanks, @ferventcoder! I think this is b/c @kolektiv just made some changes for docs to point to http://docs.freya.io/en/latest/. I will make that change in our build script. Cheers!

[2015-05-06 14:46] kolektiv commented on #96
I wish I could blame GitHub, but that seems more like our fault (likely mine!) Thanks for spotting that and letting us know, many thanks :smile:

I've just fixed that in the NuGet template!

[2015-05-06 14:46] kolektiv commented on #96
Oh no! A maintainer race condition!

[2015-05-06 14:48] kolektiv commented on #96
(Incidentally, the incorrect URLs were in the nuget template, so they'll get correctly picked up the next time we push a release to NuGet. I have high hopes that might even be 1.0...

[2015-05-06 14:48] panesofglass commented on #96
@kolektiv, :) I was just wondering why I couldn't find that URL in the `template.nuspec`. You must have beaten me to it.

[2015-05-06 14:49] panesofglass commented on #96
Looks like a build is imminent since you did not use `[skip ci]` in the commit message. That should resolve the problem. We _are_ auto-deploying to NuGet, right?

[2015-05-06 14:50] kolektiv commented on #96
Well, i'd disabled the publishing key, so it won't be pushing this time...
(Also, I was entirely unaware of [skip ci], so that's good to know!)

On 6 May 2015 at 15:49, Ryan Riley <notifications@github.com> wrote:

[2015-05-06 15:16] panesofglass commented on #84
Let's get this in for milestone 1.0. Did you find the issue, by chance?

[2015-05-06 15:17] kolektiv commented on #84
I think so... Not quite decided on the "right" fix, but will shortly - definitely for 1.0 though.

[2015-05-06 15:25] #96 closed

[2015-05-06 15:27] #83 closed

[2015-05-06 15:27] #94 closed

[2015-05-06 15:28] panesofglass commented on #35
This was superseded by #94.

[2015-05-06 15:28] #35 closed

[2015-05-07 21:30] #84 closed

[2015-05-07 21:31] panesofglass commented on #95
All other tickets are closed! When we think we have docs, we should be ready to pull the trigger on 1.0!

[2015-05-19 16:16] serialseb commented on #66
If you get them usable from c# that'd be good yes. My libs are mostly a validator based on a custom abnf engine i wrote for fun :)

[2015-05-22 19:38] panesofglass opened #98 "Use Fake.Git to load the ui.inspector submodule when running build.fsx"

[2015-05-22 20:25] #98 closed

[2015-06-01 15:15] panesofglass commented on #66
@kolektiv let's move forward with this task, keeping the project(s) under freya-fs. What do you think? If nothing else, it may make it simpler for @suaveio to consume. See https://github.com/SuaveIO/suave/issues/153.

What do you think about switching to @devshorts' ParsecClone rather than FParsec, as requested by @haf?

[2015-06-01 15:20] panesofglass commented on #70
@kolektiv, have you done this in the docs?

[2015-06-01 15:23] panesofglass commented on #50
I don't think there's anything to do here. ASP.NET 5 supports OWIN, so the only thing we need to do is ensure we will fit in .NET Core, which we should since we take virtually no dependencies. The only exception of which I'm slightly afraid is FParsec, for which we would need a custom build, I think. It's possible that @devshorts' [ParsecClone](https://github.com/devshorts/ParsecClone) might be a

[2015-06-01 15:23] #50 closed

[2015-06-01 16:02] mausch commented on #66
The [helpers I wrote in FSharpx](https://github.com/fsprojects/FSharpx.Extras/blob/master/src/FSharpx.Extras/CSharpCompat.fs) are meant for C# programs that want to call into F# code that exposes curried functions / options / choices / F# async / F# lists / etc.
If you don't mind having that in C# (I don't, hence these helpers), then these helpers should be useful.
Otherwise it's best to model the

[2015-06-02 12:33] kolektiv commented on #66
Yeah I think it's good to take this forward. Do we want to try and pull them in to a separate namespace? Might make things clearer then what has a Freya dependency and what does not.

On the FParsec/ParsecClone side of things, I'm certainly open to that. I don't know how much of a change that would be, but I'll take a look at it... Maybe a quick experimental branch for just that.

In terms of C# u

[2015-06-02 14:34] panesofglass commented on #66
@kolektiv I was thinking separate repositories, but separate namespace can also work.

[2015-06-02 17:17] haf commented on #66
+1 on separate repo/lib. But if they are separate nugets without dependencies, it shouldn't matter too much.

I'd really like to participate in a spike to get it integrated into Suave. I can't start the spike myself, as I have a fair bit on my plate right now -- I'd read over your shoulder and participate though.

Also interested in the question about the parser; an online/yielding parser might be

[2015-06-03 23:11] kolektiv commented on #66
Right, so i've begun breaking it in to a separate repo here: https://github.com/freya-fs/arachne

So far i've just pulled the types across, and dropped the lenses which are Freya specific (i.e. the Request.* and Response.* lenses which are from the FreyaState to the relevant chunk of data in the OWIN dictionary). Those don't really make sense in here, although lenses in to the data structures of t

[2015-06-04 01:50] mausch commented on #66
On exposing DUs to C# see http://bugsquash.blogspot.com/2012/03/algebraic-data-type-interop-f-c.html , it's very easy.

[2015-06-04 14:28] panesofglass commented on #66
@kolektiv, looks like we really don't need to do anything. The `Match` extension @mausch points out is a simple helper that does the `is` or `as` type evaluations that one would otherwise do in C#. @serialseb and @darrelmiller will likely use those or a Visitor pattern to break up the parsed AST, where necessary. It's also possible one or the other may come up with a nice library to layer on top f

[2015-06-04 20:36] kolektiv commented on #66
I'm all for things that don't require extra work! Happy to hear from
@serialseb and @darrelmiller if there's anything we can add which will make
their lives easier, more than willing to help.

On 4 June 2015 at 15:28, Ryan Riley <notifications@github.com> wrote:

[2015-06-05 00:04] panesofglass commented on #66
Arachne is now available on [nuget](http://nuget.org/packages/Arachne)

[2015-06-05 00:04] #66 closed

[2015-06-05 18:46] #95 closed

[2015-06-16 06:46] theimowski opened #102 "access to cookies through lenses"
currently to work with cookies I had to sth like between those lines:

[code]

It would be nice to do the same with lenses

[2015-06-16 16:33] panesofglass commented on #102
Note for @kolektiv: you may already know this, but the request header for cookies is `Cookie`, while the response header is `Set-Cookie`.

[2015-06-16 16:49] kolektiv commented on #102
Funnily enough, I'd just reminded myself of the spec this morning! I might get a draft of cookies in to Arachne tonight, which will be good. It won't solve the original problem, I want to have a proper look at the best way to use things like the Microsoft.Owin middleware in cases like this, but it'll be a good step to sensible completeness.

[2015-06-21 18:25] TonyAbell opened #103 "Use exsiting Owin Providers"
Its is possible to wire up existing owin providers into the Freya pipeline?

It would be nice to add support for the all the security modules provided by MSFT [here](http://www.asp.net/aspnet/overview/owin-and-katana/owin-oauth-20-authorization-server)

[2015-06-21 18:47] kolektiv commented on #103
It should be possible, and where libraries expose themselves as simple "AppFunc"s then it's very easy to do. However, libraries which take the Microsoft-esque IAppBuilder approach (and only that) are currently a bit more awkward. However, it's important that they work well and simply, so I'm going to have a look at this... well, right now actually. Will update soon!

[2015-06-21 23:00] kolektiv commented on #102
This issue is currently in progress - feel free to track/watch https://github.com/kolektiv/freya/tree/feature/cookies

[2015-06-21 23:06] kolektiv commented on #103
Have started an approach to this, see/watch https://github.com/kolektiv/freya/tree/feature/compatibility for progress. In essence, most of the Microsoft stuff is coupled to the `IAppBuilder` interface abstraction, and does not expose itself as OWIN spec compatible functions. This is irksome, but not surprising. One approach to this is to allow the use of the IAppBuilder approach in cases where peo

[2015-06-22 19:29] panesofglass commented on #103
@kolektiv, thanks for working on this. IIRC, the `Microsoft.Owin` pieces *should* all expose an build on `OwinMiddleware` and expose the standard `AppFunc` / `MidFunc` signatures. If so, then the earlier OWIN mapping should work. I know some wrappers, such as those for Web API, did not conform and would require something like this. However, I thought I remembered seeing that even the Thinktecture

[2015-06-22 20:51] kolektiv commented on #103
Ah let me take a look and see whether I can. It didn't seem obvious to me last night, but I might have missed something :)

[2015-06-22 20:58] kolektiv commented on #103
I'm not sure now, having looked. It seems like they almost might, but have hidden away that kind of thing as they all want their own configuration, etc. Would you be able to put together an example of using something like the Microsoft.Owin.Security.Cookies middleware? It seems like it should work somehow, but I'm not totally sure of the right way!

[2015-06-23 06:29] theimowski commented on #103
FWIW I have this very middleware set up [here](https://github.com/theimowski/FreyaMusicStore/blob/master/App.fs#L36-50) - but I used the `IAppBuilder.Use` method for that

[2015-06-23 14:51] panesofglass commented on #103
@theimowski your code highlights another thing that will be tricky for us to incorporate when running on IIS via ASP.NET: stage markers to correctly run pipeline components within the correct ASP.NET event cycle. We may have to skip that piece.

[2015-06-23 15:23] theimowski commented on #103
TBH i haven't even checked if the stage market is mandatory there - just copied over what I saw in some implementation

[2015-06-23 15:30] panesofglass commented on #103
It allows the ASP.NET lifecycle to correctly set the `Thread.CurrentPrincipal` in the right event stage. If you don't, it's possible your threads won't get set correctly (and therefore `HttpContext.User` may not be set correctly).

[2015-06-23 15:37] panesofglass commented on #103
Looks like we would need to rewrite some of the `Microsoft.Owin.*.*Middleware` wrappers in order to make it work nicely. I wonder if it would be even better to just write our own. Most of the complexity is in the OO representation rather than the actual implementation.

[2015-06-23 16:01] kolektiv commented on #103
Yeah it's interesting. I've looked at some of the content, and much of it does, as you say, seem to basically concern fiddling with state in a very verbose way. Once our typed access to cookies, for example, is complete, it feels like a lot of things could be written more readably and concisely using native Freya idioms (and, with any luck, exposed as genuinely OWIN compliant modules that anyone c

[2015-06-23 16:26] panesofglass commented on #103
@kolektiv indeed. From what I've seen, one of the hardest parts is making sure to send the correct challenge headers and model the challenge header dance correctly. I think that could be done better through F#, so I'm happy to dig into this further. I think it's worth it.

[2015-06-24 14:26] panesofglass opened #104 "Performance"
- [ ] Profile the framework using an application like [FreyaMusicStore](https://github.com/theimowski/FreyaMusicStore)
- [ ] Identify and eliminate hot spots
- [ ] Consider inlining

[2015-06-24 14:28] panesofglass opened #105 "Typed Routes"
We may be able to leverage functionality from https://github.com/SuaveIO/suave once/if ever we share a common core.

[2015-06-24 14:29] panesofglass commented on #104
NOTE: this is almost a bug. I wonder whether anyone would use Freya in its current state.

[2015-06-24 14:53] kolektiv commented on #104
What's a bug? I think I'm missing something :)

[2015-06-24 15:42] panesofglass commented on #104
If the performance is so bad that people won't use the feature / platform, I would consider that a bug. At present, I think perf is only a feature, though probably a much needed one. Have you noticed any performance issues?

[2015-06-24 16:27] kolektiv commented on #104
That's the thing, I haven't noticed any issues while I've been developing it. However, I haven't done any actual testing (going with the "correct first, then fast" approach). From the work I've done with it, it's always seemed reasonably snappy - the TodoBackend implementation doesn't feel noticeably slow, barring the usual .NET first request jazz.

Have we got some metrics or reports that perform

[2015-06-25 18:40] theimowski commented on #104
wow, it turns out that when I move the definition of main pipeline to the `Project.Configuration`, the app startups 5 times faster or so.

[here](https://github.com/theimowski/FreyaMusicStore/commit/dd602d9fcf5eb6c9419d581ed84e6496d82a04a6) is the change

[2015-06-25 20:51] panesofglass commented on #104
That's odd.

[2015-06-25 21:02] kolektiv commented on #104
Yeah it really is. Presumably that is just a change to application startup time, not running application performance? Without benchmarking yet, how does application performance "feel"?

[2015-06-25 21:06] theimowski commented on #104
Yeah it was all down to the startup time - I was just complaining that I have to wait significant amount of time before the app started.
The app performance when it's already running isn't bad (haven't done any benchmarks however)

[2015-06-25 21:08] kolektiv commented on #104
That sounds positive. There's quite a lot that happens at startup, I'll
have to try benchmarking some of those aspects. I'd love to get some proper
repeatable benchmarks set up. It's good to hear that when it's running it
doesn't seem too bad on first impressions! I'm hoping it's going to be
fairly usable out of the box in that sense, although there's bound to be
some tweaks possible...

On 25 Jun

[2015-06-26 21:40] panesofglass opened #106 "Freya + Suave"
Tracking https://github.com/SuaveIO/suave/issues/153

[2015-06-26 21:45] panesofglass opened #107 "Freya + WebSharper"
Would it be possible to leverage all or parts of WebSharper from Freya?
- [ ] Leverage WebSharper's HTML / JS generation from Freya?
- [ ] UI.Next from Freya?
- [ ] How might we map to RPC methods?
- [ ] How might we map Sitelets?

[2015-06-26 21:48] panesofglass commented on #52
Someone want to help out with this, perhaps do some investigation? /cc @VesaKarvonen vasily-kirichenko

[2015-06-26 21:49] #51 closed

[2015-06-26 21:50] #70 closed

[2015-06-26 21:56] panesofglass commented on #93
This needs two parts: the pipeline piece and the machine extension.

[2015-06-26 21:59] panesofglass commented on #103
Documenting from our conversation Friday, June 26: the main missing piece here is that we need a machine extension once we finally get the middleware working. However, we are also debating the advantage of leveraging the existing Katana bits versus writing our own. Would be nice to get both options working.

[2015-06-29 17:35] vasily-kirichenko commented on #52
I'm not interested in web dev, so I'm not useful here.

[2015-06-29 17:36] kolektiv commented on #52
Can't argue with that :) I think we'll leave this open for now though!

[2015-06-29 17:56] vasily-kirichenko commented on #52
Sorry :)

[2015-06-29 22:28] panesofglass commented on #52
No worries, @vasily-kirichenko. Thank you for responding. :)

[2015-07-03 00:04] VesaKarvonen commented on #52
I find it difficult to say anything useful here.  I wouldn't expect any major problems converting from async to job in this context.  Happy to answer specific questions as always.  As a first thing, I'd just replace `Async<_>` with `Job<_>` and start following compiler errors.  I also wouldn't expect any major benefits from doing such a conversion - unless you are having performance issues with as

[2015-07-18 01:35] slav opened #108 "Freya projects"
When I go to https://www.nuget.org/packages?q=freya I'm seeing quite a bit of projects. In addition there're also related Arachne projects. It would be nice if documentation reflected on all of them to explain what each of them does.

Also, in examples I saw reference to Freya.Inspector, Freya.Machine.Inspector and Freya.Router.Inspector. They're not in nuget. I'm guessing these are part of the de

[2015-07-18 02:20] slav opened #109 "Freya.Types - production ready?"
I thought Freya is 1.0? But https://www.nuget.org/packages/Freya.Types/ is still in pre-release on nuget. Was it just not updated? Or should we not use it?

[2015-07-18 22:40] kolektiv commented on #108
I've gone through NuGet and cleaned the obsolete packages, NuGet was being slightly funny about listing things that should have been hidden! Hopefully that shouldn't happen now. I agree about the value of a page giving a package overview - we'll try and get that done soon.

The Freya Inspector work is part of the debug/trace system, and we should probably remove those from tutorials for now, as th

[2015-07-18 22:42] kolektiv commented on #109
Yes, as mentioned in the other thread, Freya.Types is now obsolete. Generally speaking at the moment, you should only need to install the "Freya" package - it's a package which will always require the latest versions of the current stack, so you don't usually need to worry about picking and choosing. Just installing "Freya" should always give you everything production-ready for a complete system.

[2015-07-20 16:27] panesofglass commented on #109
@kolektiv I'll work on adding brief descriptions to the docs and README this week.

[2015-07-20 16:28] panesofglass commented on #108
@kolektiv I'll work on adding brief descriptions to the docs and README this week.

[2015-07-20 16:28] panesofglass commented on #109
See #108.

[2015-07-20 16:28] #109 closed

[2015-07-21 16:17] panesofglass commented on #103
If we do roll our own, we may want to try to capture what we can to share with Suave: http://blog.tamizhvendan.in/blog/2015/07/15/securing-apis-in-suave-using-json-web-token/

[2015-08-06 14:40] panesofglass commented on #108
I added descriptions to the README with links to the docs. I'm going to close this. Please reopen if you think we need to do more.

[2015-08-06 14:40] #108 closed

[2015-08-13 15:29] slav opened #111 "Authentication examples"
It would be nice to provide an example of basic authentication. I figured out I need to with freyaMachine provide authorized decision handler, but there should be a doc or example.

[2015-08-13 15:31] TWith2Sugars commented on #111
+1

[2015-08-13 15:31] slav opened #112 "freyaMachine Decisions naming"
Just a thought. I think it would be clearer if Decisions are name to reflect that it's a decision. For example authorized sounds like an action in the past. isAuthorized sounds like a decision. Same with allowed vs isAllowed. Or it could be just not in past tense - authorize vs authorized. You kind of use that naming with "allowPostToGone".

But "is...." would be more universal. For example "isDel

[2015-08-13 15:33] slav opened #113 "|>> freya infix?"
I really like ``|>>`` infix in hopac, which is essentially reverse order of ``<!>``. So, if I have ``let paramsLens = Freya.getLensPartial (Request.Query <-?> Query.Pairs) |> Freya.memo``, right now I have to do ``let searchParam = getQueryValue "search" >> Option.get <!> paramsLens |> Freya.memo``
but with ``|>>`` I think I could just do the other order ``let searchParam = paramsLens |>> (getQuer

[2015-08-24 04:21] mvkara commented on #111
Would love to see an example with both the standard freyaRouter {} syntax and the freyaMachine {} if it is applicable. My understanding of the framework here is still small.

[2015-08-24 20:11] mFingers commented on #111
You can get a sense for what actions, decisions, and handlers are defined by looking [here](https://github.com/freya-fs/freya/blob/a9a3820f0cb39976a700b5e5b04383bb0e599136/src/Freya.Machine.Extensions.Http/Syntax.fs).  I agree that these should be explicitly called out in the documentation, with some common use cases as samples.

In the meantime, you can check out a sample Music Store app by @thei

[2015-08-28 02:37] panesofglass opened #114 "Missing Constants.CommonKeys.serverName"

[2015-08-28 02:38] panesofglass opened #115 "Support proposed OWIN BuildFunc"
See https://github.com/owin/owin/issues/39

[2015-08-28 02:39] panesofglass commented on #113
I'd be happy to add it if @kolektiv is cool with it. Do you mind submitting a PR?

[2015-08-28 02:40] panesofglass commented on #112
I'm good either way. @kolektiv?

[2015-08-28 03:36] #114 closed

[2015-08-28 07:06] kolektiv commented on #112
I think there's some merit to this, yes, I'll put a PR together soon :)

[2015-09-25 02:08] panesofglass opened #116 "Should handleNoContent expect a Specification -> Freya<Representation>?"
@pblasucci brought up a good point in that it seems `handleNoContent` should return, possibly, a `Freya<unit>`. I know that breaks symmetry, but the underlying computation should be able to send a default, empty representation each time.

[2015-09-25 02:15] panesofglass opened #117 "Is it expected that you cannot override defaults?"
I tried overriding the `methodsSupported` in a Freya machine and found that it was ignored. Is this expected?

[2015-09-25 02:17] pblasucci commented on #116
If breaking the symmetry is a show-stopper, maybe at the very least a `Representation.empty` instance could be provided?

[2015-09-25 02:17] panesofglass opened #118 "Should doPost always return 201, even if you set a different status code?"
I had thought / hoped that you could set a different status code manually within a handler. Obviously, this sort of defeats the purpose of using Machine, but I was surprised to find that my status code was completely ignored.

[2015-09-25 02:33] panesofglass opened #119 "Provide a means of triggering a 205 instead of 204?"
The HTTP machine spec indicates several paths to returning a 204 but no paths for returning a 205 Reset Content status code. Though subtle, the [difference](https://benramsey.com/blog/2008/05/http-status-204-no-content-and-205-reset-content/) is quite useful. Let's consider amending the graph to somehow toggle between these two.

Also, how might you toggle a 204 as the result of a `POST`, for exam

[2015-09-25 03:01] panesofglass opened #120 "Is it possible to use a JSON serializer other than Chiron?"
If so, why is Chiron a dependency? (I'm assuming it's to support the Recorder.)
If not, we definitely need to start writing docs for Chiron! :)

[2015-09-28 15:44] kolektiv commented on #116
Yes to both I think there, although the most pragmatic way to do so may be
a Representation.empty instance, which would maintain the simplicity at
least.

On 25 September 2015 at 03:17, Paulmichael Blasucci <
notifications@github.com> wrote:

[2015-09-28 15:45] kolektiv commented on #117
No it doesn't sound like something that's expected - it certainly should be
possible to override that. I'll take a look as soon as I get a chance! (A
combination of major job load and awful burnout has killed me a bit lately,
trying to find space to get my head back in to development again...)

On 25 September 2015 at 03:15, Ryan Riley <notifications@github.com> wrote:

[2015-09-28 15:46] kolektiv commented on #118
Interesting, the handler should let you override if it comes down to it.
I'll take a look. Have you got a minimal repro handy?

On 25 September 2015 at 03:17, Ryan Riley <notifications@github.com> wrote:

[2015-09-28 15:47] kolektiv commented on #120
Yes Chiron is purely there to support recording. I've got a branch
somewhere which moves the Chiron requirement out in to the (optional)
inspectors, so that will remove the common use. Chiron (for normal Freya,
rather than the hypermedia bits) isn't a requirement (or won't be...)

On 25 September 2015 at 04:01, Ryan Riley <notifications@github.com> wrote:

[2015-09-28 15:47] kolektiv commented on #119
Would be worth a look if we can. HTTP is awkward, to say the least with
some of these paths, but it's worth trying to see...

On 25 September 2015 at 03:33, Ryan Riley <notifications@github.com> wrote:

[2015-09-29 14:29] slav opened #121 "Document machines"
Docs on Machines are really missing (http://docs.freya.io/en/latest/machine/extension.html). Could you please add some to help other devs understand them?

[2015-09-30 14:39] panesofglass commented on #121
Yes!

[2015-10-01 21:06] kolektiv commented on #118
Ah, I think I can guess this. If you're setting the status code in doPost, it'll get overridden later by the default handlers (or pre-handlers, technically). If you set a custom handler and overrode it there, that would work. Let me know if I've guessed wrong though!

[2015-10-01 21:17] kolektiv commented on #117
If I configure a resource as
[code]
then that seems to respond with a 405 to anything non-post for me (I am using my develop branch, but I don't think there's been anything changed there for some time). Is that not what you're seeing as a simple test case?

[2015-10-03 18:55] panesofglass commented on #117
I just added a simple repro case in the description. That's what I was trying to do.

[2015-10-12 03:22] panesofglass opened #123 "Support Send File"
See the [OWIN extension](http://owin.org/spec/extensions/owin-SendFile-Extension-v0.2.0.htm).

[2015-10-19 14:13] panesofglass opened #127 "Support lazily represented content"
[Gitter chat October 19, 2015 9:11 AM](https://gitter.im/freya-fs/freya?at=5624fa072639469f2635a5d1)

We need something like Web API's `PushStreamContent` to allow for users to push large size content without having to buffer it into the Large Object Heap first. A good candidate for trying this is the Static File Server sample.

[2015-10-19 14:46] kolektiv commented on #127
Yeah it would be good to have a chat about this one at some point - it's part of the OWIN spec I think (?) but I don't know whether I completely understand the expected usage model...

[2015-10-21 14:52] kolektiv commented on #120
This has actually gone now from anything in the standard Freya distribution. Will only be needed for future inspectors. Closing as fixed I think!

[2015-10-21 14:52] #120 closed

[2015-10-22 19:08] panesofglass opened #132 "Define versioning process"

[2015-10-28 14:46] panesofglass commented on #71
Done in #129

[2015-10-28 14:46] #71 closed

[2015-10-28 14:48] panesofglass commented on #132
See https://github.com/freya-fs/freya/wiki/Versioning

[2015-10-28 14:48] #132 closed

[2015-10-28 14:53] panesofglass commented on #106
See also https://github.com/SuaveIO/suave/pull/142 and https://github.com/SuaveIO/suave/issues/299.

@pblasucci has built a prototype / app using both. Perhaps he would be willing to submit a sample to https://github.com/freya-fs/freya.examples?

[2015-10-28 14:53] #106 closed

[2015-11-10 15:29] ForNeVeR opened #133 "freyaMachine: lastModified fails at runtime"
I've downloaded [`StaticFileServer` example](https://github.com/freya-fs/freya.examples/tree/master/StaticFileServer) and trying to enable `lastModified` configuration by uncommenting this line: https://github.com/freya-fs/freya.examples/blob/c5c16d6ee44112f0a292fe52571db88e0ed0a92f/StaticFileServer/src/StaticFileServer/Stage5.fs#L72

After that an application fails at runtime with the following r

[2015-11-10 17:58] panesofglass commented on #133
@ForNeVeR, sorry about that. Yes, I think it's a known issue. @kolektiv, did you have any plans for this, or is it yet to be properly diagnosed?

[2015-11-10 18:08] kolektiv commented on #133
I wasn't aware of it - now there's an issue I'll take a look :) thanks for raising it!

[2015-11-10 23:28] mvkra opened #134 "Spaces in URL are not compatible with UriTemplate's"
I've defined a routing template as thus:

let serviceRoutes =
        freyaRouter {
            route (Methods [ GET; ]) (UriTemplate.Parse "/helloworld/{requestId}/{message}") helloWorldHandler
        }
        |> FreyaRouter.toPipeline

If I type "/helloworld/1/Hello World!" which converts to "Hello%20World!" by my browser I can see that the path is correct (have a logging "freya" block before

[2015-11-11 01:27] kolektiv commented on #134
Ah, hmmm. Yes that might well be an interesting interaction, my hunch is leaning toward your last sentence. I'll take a look at it as soon as I can.

[2015-11-21 20:12] #133 closed

[2015-11-23 16:00] panesofglass opened #137 "Add extension to plug Katana AuthenticationMiddleware into the machine graph"
Provide an adapter to map Katana's `Microsoft.Owin.Security.AuthenticationInfrastructure.AuthenticationMiddleware` into the Freya machine graph.

[2015-11-23 16:12] panesofglass opened #138 "Microservices, Code-on-Demand, and Hot Code Loading"
I had an idea while at [APIStrat](http://austin2015.apistrat.com/) to attempt a microservice "optimization" by means of code-on-demand and hot code loading.

Terms:
- Microservices: an isolated service with a single responsibility and its own data store running at or behind a specific IP and managed independently of other services.
- Code-on-demand: one of the optional constraints of the REST arch

[2015-11-29 20:37] kolektiv commented on #112
OK, have been thinking, need some help!

Here's a Google Sheet to clarify, hopefully...

https://docs.google.com/spreadsheets/d/1r-h5o6Kxl_hX37NR0xq4MuPjFJQyuknIfmz7-l61tnk/edit?usp=sharing

[2015-11-30 22:20] panesofglass opened #140 "Embed Router in Machine"
I had a thought this morning that I think it would be nice to embed the UriTemplate for a resource (or `FreyaMachine`) in the definition of the resource, e.g.

[code]

Then we could use a merge function to bind resources together:

[code]

Thoughts? Rather than breaking `freyaMachine` in this way we could create another abstraction layer, e.g. `freyaResource`, to wrap `FreyaMachine` with `Freya.Ma

[2015-12-01 23:26] slav commented on #112
If I make make suggestions:
* exists -> doesExist (sounds better than isExisting?)
* existed -> didExist or hasExisted
* for xxxStrict -> isStrictXxxx. e.g. encodingsStrict -> isStrictEncoding

How does this sound?

Thank you,
Slava Ivanyuk

On Sun, Nov 29, 2015 at 3:37 PM, Andrew Cherry <notifications@github.com>
wrote:

[2015-12-05 15:56] jwood803 opened #141 "Portable Option for Xamarin?"
I was just wondering if it was possible to make this compatible to load in a Xamarin project. I think this may open up quite a bit more potential for Freya. Or at least discuss it here. :]

Currently, if you try to bring in the NuGet through a Portable Class Library in a Xamarin project, you get this message that it is, `Unable to resolve dependency 'Aether (= 8.0.0-rc2)'.` When I try to bring in

[2015-12-05 17:56] panesofglass commented on #141
Step one is to generate PCL packages. That can be done through FAKE and Paket and should be fairly straight-forward. Would you like to attempt it? We would need to make these changes for:
- Freya
- Arachne
- Chiron
- Hekate

Step two is far more difficult. We would need to only use other dependencies that provide PCL's. Fortunately, I think our only external dependency is FParsec, and it turns out

[2015-12-05 17:59] panesofglass commented on #141
@jwood803 I went ahead and filed the issue with FParsec: https://bitbucket.org/fparsec/main/issues/35/support-android-and-ios-pcl-targets

[2015-12-05 18:00] jwood803 commented on #141
Awesome! Thanks @panesofglass! I'll see if I can mess with step one from above this weekend.

[2015-12-05 18:03] panesofglass commented on #141
@jwood803 Freya and Arachne have virtually identical build scripts. Once you fix one, the other should be a cinch. I think you will need to add a loop around the builds to run for each target profile, then add the various profiles to the `*.paket.template` generator script. I'm not sure whether or not @kolektiv updated the Chiron and Hekate packages to use the same updates to Freya and Arachne or

[2015-12-05 18:17] jwood803 commented on #141
Would Aether need to be included as part of step one, as well?

[2015-12-05 18:45] kolektiv commented on #141
I think you'd need to do Aether first, then Chiron and Hekate could be done
in parallel. They all use a simpler build script then Arachne and Freya,
hopefully a simple change - more than happy to try it! Would love to get
everything portable.

On 5 December 2015 at 18:17, Jon Wood <notifications@github.com> wrote:

[2015-12-05 19:31] panesofglass commented on #141
@jwood803 yes! I knew I was forgetting one of the libs! Thanks for adding it!

[2015-12-05 19:34] kolektiv commented on #141
Aether (and Chiron and Hekate) are currently in RCs for new releases
anyway, I'd love to get portable support in if possible. I don't really
know anything about portable support though - is there a guide to doing
that with fake/paket anywhere?

On 5 December 2015 at 19:31, Ryan Riley <notifications@github.com> wrote:

[2015-12-05 20:19] panesofglass commented on #141
@jwood803 you'll also need to change the paket.dependencies file to add the portable profiles you want. I think at present I've limited things to `>= net45` so as to cut down on the noise.

@kolektiv iirc, fsharpx had something like this, but I don't know the state of those projects now nor whether they use paket.

[2015-12-05 20:35] panesofglass commented on #141
@jwood803 looks like Profile 259 should work. I just tried adding FParsec directly, and XS appeared to load them. I don't have an active license, so I can't build. Would you mind trying?

[2015-12-08 11:19] jwood803 commented on #141
I added FParsec (using [this](http://www.nuget.org/packages/FParsec) version as it seems to be the more widely used/downloaded) and it built without any issues in a PCL project in Xamarin.

[2015-12-08 17:00] panesofglass commented on #141
@jwood803 that means we only need to get the builds for step 1 generating PCL assemblies and add the desired PCL constraints to the respective `paket.dependencies`. Shouldn't be very hard, though probably a bit time consuming.

[2015-12-08 17:01] panesofglass commented on #141
Question: is it worth also backing up to .NET 4.0 Client profile, too? I don't recall whether we have any > .NET 4.0 requirements, though we might. I'm also not sure whether it's worth the effort at this point. PCL and .NET Core are likely more important.

[2015-12-08 17:03] TWith2Sugars commented on #141
Is there any point if support will be ending soon: https://support.microsoft.com/en-us/gp/framework_faq?wa=wsignin1.0

[2015-12-08 19:18] panesofglass commented on #141
@TWith2Sugars no! Thank you for looking that up!

[2015-12-10 08:16] SimonGustavsson opened #142 "Update documentation for 2.0"
I just upgraded to 2.0 and much to my surprise my error window was absolutely filled with Obsolete warnings. Mostly about Freya.get/set-Lens/LensPartial, accessing uppercase members of Request/Response and a fair few FreyaMachine.toPipeline.

As far as I can tell, the docs have no mention of the new `Freya.Optic` way of doing things.

For bonus points:
On the topic of Optic, are you expected to wr

[2015-12-10 14:15] panesofglass commented on #142
Oh no! Looks like the 2.0 versions were updated with a pre-release version of some dependencies. That was not intended. Those changes are primarily heading toward the 3.0 branch, which is a pre-release. Feel free to ignore those warnings for now and apologies for the inconvenience. On the other hand, you get a preview of where we are going. :)

[2015-12-10 14:15] panesofglass commented on #142
I'll see if I can publish a new 2.0.202 that backs up the dependencies.

[2015-12-10 14:18] panesofglass commented on #142
Bizarre. The 2.0.201 tag is pointing at a different commit than the one I thought I tagged. I appear to have made a significant mistake.

[2015-12-10 14:31] panesofglass commented on #142
Okay, this appears to be resolved. @SimonGustavsson, please update your Freya to 2.0.202 and let us know. I untagged 2.0.201 and removed it from the NuGet listings. 2.0.202 should show up and 2.0.201 should be hidden soon. Thank you very much for reporting this error!

[2015-12-10 21:41] jwood803 commented on #141
Yes, thank you @TWith2Sugars! @panesofglass I'll mess with your recommendations over the weekend or the holidays, whichever comes first :p

[2015-12-14 14:18] SimonGustavsson commented on #142
Ah, how unfortunate that I updated my project to not use the "obsolete" stuff before you got back to me :-)
Thanks for the speedy response though! I'm liking the project a lot, keep up the good work!

[2015-12-14 14:25] kolektiv commented on #142
Well, if you don't upgrade, 3.0 will catch up with you :) Happy to hear
you're liking it, any feedback (and we mean any!) listened to...

A.

On 14 December 2015 at 14:18, Simon Gustavsson <notifications@github.com>
wrote:

[2015-12-14 21:18] SimonGustavsson commented on #142
Hi again :)
I was experiencing some oddities with routers, so I figured I might try upgrading to 2.0.202.
However, after upgrading I'm experiencing multiple errors saying `The module/namespace 'Aether' from compilation unit 'Aether' did not contain the namespace, module or type 'PLens`2'`.
You wouldn't happen to know what that's about, would you? I'm assuming I'm doing something weird. :)

[2015-12-15 09:04] kolektiv commented on #142
I have a sneaking suspicion that I do, yes. I think we need a new release
of Freya 2.x with version restrictions on some of the dependencies. At the
moment it's probably open ended, and that's now going to be picking up new
releases of Aether, etc. That's a problem on the Freya side though.
@panesofglass is that something you could push out?

I'm not sure how you pushed the previous 2.x point rele

[2015-12-15 19:30] panesofglass commented on #142
@SimonGustavsson did you happen to delete your packages folder before updating to 2.0.202?

[2015-12-15 19:30] panesofglass commented on #142
oic, yes, @kolektiv is correct. Let me make another change and push.

[2015-12-15 19:57] panesofglass commented on #142
@SimonGustavsson I think this is now fixed. Please re-open if you continue to experience problems.

[2015-12-15 19:57] #142 closed

[2015-12-16 09:09] kolektiv commented on #142
The paket.dependencies file https://github.com/freya-fs/freya/blob/master/paket.dependencies looks slightly odd at the moment, duplicated/clashing versions? Not sure what's happened there? Maybe a cross version merge... I think maybe we should split off a 2.x branch and make specific builds from that if possible - it might be easier :)

[2015-12-17 08:33] kolektiv commented on #142
(Oh, should note that the actual dependencies in the released packages are correct though, so it's only a minor point at the moment! :)

[2015-12-20 20:38] kolektiv commented on #134
Hi @mvkra - sorry not to get back to you sooner than this. Your hunch about percent encoding turned out to be useful, and prompted some changes inside Arachne. However, they turned out not to be the problem (they're just good changes!)

As it turns out, the URI Template standard has different patterns for expanding (and by implication matching) variables in a template. The '!' char is actually a r

[2015-12-21 00:52] mvkra commented on #134
No problem - thanks for getting back to me. Just to clarify I did try {+message} if I recall ages ago and it didn't work either. Would give that a test run to see if it matches the spaces before closing the issue.

As an aside w.r.t documentation more of it is definitely needed; I do understand that this is a new framework however. The more the documentation available that reflects common REST app

[2015-12-21 00:56] kolektiv commented on #134
Ah ok - well, I tried it just now and it seems to work for me now, so it may be a combination of Arachne and Freya changes. When we get the 3.0 (or even just the next pre-release of Freya 3.0) out, I'd love to see if it's working for you, if you've got time to check.

And yes, you're completely right on the documentation, especially of a cookbook style. It's hard to write, but it really needs doin

[2015-12-21 05:09] panesofglass opened #146 "Latest versions break Travis build"

[2015-12-21 05:59] panesofglass commented on #146
Wrong project

[2015-12-21 05:59] #146 closed

[2015-12-21 12:52] jwood803 commented on #141
And I just happened to see [this bit of awesomeness](https://github.com/fsprojects/FsProjectsAdmin/issues/10#) from @dsyme. I'm sure this will help out with the stuff here.

[2015-12-21 14:29] kolektiv commented on #141
Aha, indeed! So, Aether, Chiron, Hekate are now all portable (Profile259). The current pre-release of Arachne is the same. It's just Freya now which needs to take that step, but all dependencies are prepared!

At the moment the only block is working out the right approach to builds (x-platform builds for portable etc. don't seem to be possible, so working out what the right thing to do in terms of

[2015-12-26 18:45] panesofglass opened #147 "Fix Last Modified Date Comparison"
From gitter:

[2015-12-27 04:30] ForNeVeR commented on #147
Quoting myself from gitter chat so the future readers could understand the problem:

So, the problem is that the server loses some time precision due to common format usage.

Currently I had to solve this problem with the following function: https://github.com/ForNeVeR/fornever.me/blob/096e17041822ee09d05c1769302defb32d9a6704/ForneverMind/Common.fs#L30-L40

[2015-12-27 13:25] kolektiv commented on #147
@ForNeVeR - many thanks! You're right, this is definitely something we should address, we need to make this easier in some form. That's possible, I'll take a look soon!

[2015-12-31 15:17] panesofglass commented on #147
Thanks, @ForNeVeR. I couldn't copy on my phone and forgot to come back and do it when I got back to my laptop.

[2015-12-31 15:19] ForNeVeR commented on #147
No problems, guys, I am always glad to help.

[2016-01-01 16:12] panesofglass commented on #141
Are we close on this? Need to fix Travis builds, but I think this is just waiting on the release, right?

[2016-01-01 23:02] jwood803 commented on #141
Apologies, I haven't had much time lately, but I should have some during the weekend.

[2016-01-02 16:55] kolektiv opened #149 "Freya move to Xyncro!"
Hi All!

It seems right to give people a chance to comment on this if they wish - hopefully everyone will think of it as positive, but we always want to make sure Freya is a project that listens, so...

---

After the 3.0 release of Freya, development of Freya will be moving to the Xyncro organization on GitHub, which has supported much of the development work so far (and where some of the support

[2016-01-02 16:56] kolektiv commented on #149
(In the interests of full disclosure, Xyncro is my company, so it's not moving away from the people already working on it - just becoming more visibly supported, and more of a priority for the open source aspect of my company. I hope this seems positive to people, and am happy to answer any questions at all!)

[2016-01-02 16:57] kolektiv commented on #149
(And yes, Freya 4.0 has some - I hope - really great improvements and changes planned!)

[2016-01-03 00:44] panesofglass commented on #149
:+1:

[2016-01-04 18:53] kolektiv commented on #141
So I think we need to fix the Travis build for Arachne (our test bed) then push the 3.0 final of Arachne which will make all dependencies portable. At that point we can take whatever approach we've taken with Arachne with Freya (a lot of grunt work, but nothing too complex I think). At that point, I think we can go 3.0 with Freya...

[2016-01-13 07:42] mexx opened #151 "Please make Freya.Machine.Extensions.Http.Operations public"
I have a special use case, where I don't need the whole power of `Freya.Machine`, but have to make authorization.
Currently the operations like `unauthorized` are private.
It would be great when those were accessible as building blocks, especially as they mostly do not require anything from `Freya.Machine`.

[2016-01-13 09:53] kolektiv commented on #151
Oh that's interesting, I hadn't thought of them being useful in that way. I don't see why not, I'll look at making them public in 3.0 which should be very soon.

The underlying structure of how machines work will be changing in 4.0 one day (although not really visibly to the Freya user) and the operations were likely to disappear as distinct things - but you've made me think it might be useful to

[2016-01-15 14:54] Vidarls opened #152 "Some thoughts from a new user"
**note:** This got a bit out of hand, became badly written and a bit incohesive. Sorry about that.

TL;DR;

* Really fun approach, It suits the language very well, and looks like a really good choice for F# Api dev.
* Love the composability
* Need more / better docs and samples
* Need slightly better defaults to help me fall into the pit of success
* What about the future?

## Original post:

So,

[2016-01-15 16:33] panesofglass commented on #152
@Vidarls, thank you for the excellent feedback! I think you pretty much nailed our weak points. @kolektiv and I have talked about writing better docs and samples but keep tweaking Freya instead.

## Will Freya be around in the future?

If I recall correctly, @kolektiv is building Freya as a tool to back his business. I am planning to use it in the revamped http://c4fsharp.net/. I have heard others

[2016-01-15 16:52] SimonGustavsson commented on #152
The lack of documentation is somewhat frustrating, made even worse by Freya getting tweaked and the documentation trailing behind.
So even if you *do* follow the docs, it doesn't work / you end up with warnings about Obsolete functions.

On the topic of usage, I am actively using it in a private project right now, if/when it goes public I'll definitely give credit to Freya, in the meantime talking

[2016-01-15 16:54] panesofglass commented on #152
Thanks, @SimonGustavsson! Yes, procedure for updating docs is just sending a PR to https://github.com/freya-fs/freya.docs/. We can merge it into the right place (if such a thing exists). :)

[2016-01-15 20:10] kolektiv commented on #152
Thank you to both @Vidarls and @SimonGustavsson for taking the trouble to comment, I really do genuinely appreciate that - and it's hugely helpful feedback.

I'm very happy to hear that the approach does seem to click with people (the quote "I feel I can create _my_ stack for _my_ api" is exactly what I was hoping to get with Freya, so that's made me smile at least). But the learning curve, and th

[2016-01-16 00:39] slav commented on #152
Just to pitch in on documentation, I think one thing that works very well is examples. We're all devs, so having good examples, perhaps with comments in non-intuitive places, would be great. This way as API changes things won't compile and you'll be forced to update examples. So, they'll be much easier to keep up to date.

Another thing that's good to start with is just a reference, such as a list

[2016-01-16 00:57] Vidarls commented on #152
A bit late and on my phone so this will be brief, but here are some very concrete suggestions

### Roadmap

You clearly have some thoughts about where you want to take Freya, but these thoughts are not communicated. How about some high level roadmap document to let the world know your direction. Might even spark some useful discussions and feedback

### Issues and ongoing work

Use the github issu

[2016-01-16 03:11] mexx commented on #152
Let me, as a new user, also add some words on this topic.

#### Production
I had a look at Freya in the very beginning of it, just a theoretical view of the concept. And already in this early stage I felt in love with it. I've tried to use it for at work, but unfortunately it was too early. It didn't support some edge case we had at the given time.

Some time has gone and now I'm developing an API

[2016-01-16 16:24] kolektiv commented on #152
Thank you all :+1:

There's some great suggestions in here and i'm going to see what we can do about each of them (hopefully all should be achievable, but some might come sooner than others!). I'm going to sit down tomorrow and tidy up our issues section, and make sure that each of the things discussed here is tracked.

There's some really excellent suggestions in this thread, and I don't want to

[2016-01-17 10:42] cloudRoutine commented on #152
@vidarls, @simonGustavsson, I think you should cut @kolektiv and @panesofglass some slack, building
and maintaining OSS projects is a largely thankless and time consuming endeavor, and this is just one
of the several projects that each of them maintains. There's a limited amount of mental bandwidth that
can be applied to adding functionality, rethinking existing code, fixing outstanding issues, do

[2016-01-17 11:58] kolektiv commented on #152
Well, we'll always welcome PRs! And of course we'll be delighted if you find a way to talk about your projects using Freya more :)

It's not always easy to get started with helping out - I think one of the big things there is making that process easier, so we'll try and make it easier for folks to find small things they can do to help out - if they feel like it! Of course, we'd always love huge ch

[2016-01-17 15:10] SimonGustavsson commented on #152
@cloudRoutine Don't get me wrong, I greatly appreciate the work done by @kolektiv and @panesofglass! I'm aware of the struggles of an OSS library, my comments about the documentation was made purely out of concern for the success of Freya, documentation often makes or breaks a library, and I would like to see Freya come out on top!
Judging by the great information in previous comments, most (if no

[2016-01-17 16:57] kolektiv commented on #81
This is going to be closed and re-opened under Arachne, as Arachne provides the library for URI Templates.

[2016-01-17 16:57] #81 closed

[2016-01-17 16:59] kolektiv commented on #86
Having looked at this, i'm not sure there's much we can support here at the moment, so closing this for now, in the expectation that if concrete requirements appear, we'll support them.

[2016-01-17 16:59] #86 closed

[2016-01-17 17:01] kolektiv commented on #118
Closing this as I think it's "by design" in the sense that these things should be overridden in handlers.

[2016-01-17 17:02] kolektiv commented on #140
I think for now having them decoupled is useful, and with potential enhancements for 4.0+ we'll probably discover the answer. Closing for now, with potentially a feature issue to open for a new abstraction layer.

[2016-01-17 17:02] #140 closed

[2016-01-17 17:07] kolektiv commented on #141
We need to make a decision on this (and Arachne). @panesofglass did you manage to find an approach for Travis?

[2016-01-17 17:08] kolektiv commented on #134
I want to make sure that the 3.0 final release of Arachne and changes to Freya fix this for 3.0.

[2016-01-17 17:08] kolektiv commented on #117
Needs testing for 3.0.

[2016-01-17 17:15] kolektiv opened #153 "Public Roadmap"
It's really important to have some public visibility of planning around Freya (and probably the associated/dependent projects). It'll help people gain some confidence, and also to influence direction and priority in some cases.

Create a public roadmap!

[2016-01-17 17:17] kolektiv opened #154 "Update documentation for 3.0"
Make sure that the documentation that exists, exists in a 3.0 form.

[2016-01-17 17:17] kolektiv opened #155 "Update examples for 3.0"
Make sure that the examples use the 3.0 release.

[2016-01-17 17:18] kolektiv opened #156 "Expanded set of Examples"
This is a broad issue, and will probably become a base for linking off to specific examples as considered/requested/required.

[2016-01-17 17:21] kolektiv opened #157 "Video tutorials"
It would be great to come up with a way to produce short, single issue, video content on Freya. This is a broad issue, which probably becomes a link point for more specific content issues.

[2016-01-17 17:23] kolektiv opened #158 "Code/API comments/tips"
Review and enhance/add to API level comments. Current commentary is sparse, and also quite prosaic, could be expanded to give a more guidance/usage based message in addition to basics.

[2016-01-17 17:25] kolektiv opened #159 "Up-For-Grabs"
It would be great to start getting a clearly defined, well documented, set of issues/enhancements here as up-for-grabs, possibly integrating with something like up-for-grabs.net for findability.

Get this started, and seed it.

[2016-01-17 17:25] kolektiv commented on #116
Representation.empty is present in the codebase now, which I think will be the right answer for 3.0.

[2016-01-17 17:27] kolektiv opened #160 "Best-practice/when-and-where guides"
It would be excellent to have some guides on where Freya is a good fit (or where it's not), along with some guides on common patterns, best practices, etc.

[2016-01-17 17:28] kolektiv opened #161 "Documentation/graphical inspection of Machines"
It will be good to at least document in a static form the design of machines. Leaving this for the 4.0 timeframe, purely because there's a lot of enhancement to come in there around Machines.

[2016-01-17 17:29] kolektiv opened #162 "Update documentation to be correct on lenses, etc."
Find any places in documentation that form/substance of lenses/optics is out of date, and fix.

[2016-01-17 17:30] kolektiv opened #163 "Documentation on Arachne, etc."
Good to have documentation on how some of the related projects come together to make up Freya, particularly Arachne, Aether and probably Hephaestus for 4.0.

[2016-01-17 17:43] kolektiv commented on #152
Thanks :smile:

I've created some issues if people want to track some of these things, and i'm going to be creating some more shortly as I put together what the roadmap, and try and include some of the things I know for 4.0 (and that will be quite a bit!)

For now though, here's a few top level things to keep an eye on. Where a release isn't given, read that as "hopefully soon, but not nailed down

[2016-01-17 17:57] kolektiv opened #164 "Repository Structuring"
Break the monolithic repository down into smaller thematic repositories, under the Xyncro Organization. Current plans involve the breakdown of freya to:

- [ ] freya-core
- [ ] freya-optics
- [ ] freya-routers
- [ ] freya-machines

Some of this is in progress already.

[2016-01-17 18:06] kolektiv commented on #153
See https://github.com/freya-fs/freya/wiki/Roadmap

[2016-01-17 18:06] #153 closed

[2016-01-17 21:05] kolektiv commented on #159
Pull request open with up-for-grabs.net for Freya inclusion, and some issues here have been appropriately marked. More will come along!

[2016-01-17 21:05] #159 closed

[2016-01-17 21:10] kolektiv commented on #164
See https://github.com/xyncro for the new repositories, even though they're not yet current. Some early restructuring work is going on in preparation for 4.0 in @kolektiv s forks.

[2016-01-18 01:05] mexx commented on #164
In the Roadmap you mentioned the independent release cycle. With the groups it would only apply to a group, right? Wouldn't it be better to have each component, a.k.a. NuGet package, as a separate repository? If it's already the plan, I didn't say anything ;)

[2016-01-18 01:14] kolektiv commented on #164
As it stands, yes. I can see it getting broken down a bit further in future as the core of each group is truly stable - so for example you might have a stable Freya.Machines (the core library for building machines) and an experimental Freya.Machines.Http3 (or something!) which would need a different release cycle.

At the moment I think that the stability isn't enough to move much further in terms

[2016-01-18 01:18] kolektiv commented on #164
Roadmap updated :smile:

[2016-01-18 01:32] mexx commented on #164
That makes sense, thank you!

[2016-01-18 11:02] #151 closed

[2016-01-18 11:10] kolektiv commented on #116
Closing this, as will be sufficient for 3.0.

[2016-01-18 11:10] #116 closed

[2016-01-18 13:35] Vidarls commented on #152
So, this turned out to far beyond my expectations for giving my feedback after some initial framework evaluation!

Thank you to all who responded. particularly @kolektiv and @panesofglass :+1:

So looks like me an Nancy will need to have a little break now, while I see where things go with me and Freya :smile_cat:

I'll make sure to pitch in where I feel I can provide any value.

[2016-01-18 13:53] mexx opened #166 "MachineConfiguration is not strong typed"
During the implementation of #165 I run into the issue, that the configuration like `Configuration.get Properties.LastModified` is not strong typed and the type expected is determined by the code the value is bound too later.
I've accidentally removed the `Freya` monad around the value and the compiler was happy, only the tests saved me from the misery :)

Couldn't the properties of the `Configura

[2016-01-18 15:12] panesofglass commented on #118
@kolektiv, would you mind posting an example, possibly as a link to updated or existing docs?

[2016-01-18 15:16] panesofglass commented on #141
@kolektiv no, I have not found a solution for getting Travis building. We need outside help on this from someone currently building PCL libraries using Travis. @forki, do you have any ideas as to who to ask for help?

[2016-01-18 15:20] panesofglass commented on #141
I also see numerous warnings and errors trying to build on my Mac, which differ when trying to build with either the homebrew installation or Xamarin installation. @7sharp9, any thoughts?

homebrew:
[code]

Xamarin:
[code]

[2016-01-18 15:22] 7sharp9 commented on #141
What version of XS are you building with?

The current preview edition has full support for PCL including a drop down to change which PCL you are currently using.

[2016-01-18 15:28] panesofglass commented on #141
@7sharp9 I'm using 5.10.1 (build 6).

[2016-01-18 15:55] kolektiv commented on #166
The implementation in 3.0 assumes a lack of strong typing as any extensions to the graph need to be able to create their own configuration properties, which may or may not be present. As such, at the moment it's a fairly weak map implementation, and a box/unbox of the actual value.

However, that's not ideal as you've found, and for 4.0 i'm planning on changing it so that an extension or component

[2016-01-18 16:34] panesofglass commented on #152
As a tip to those interested in contributing with a bit more free-time and front-end experience on their hands, you might consider working on https://github.com/freya-fs/freya.ui.inspector. @kolektiv made a start, and I've been trying to carve out time to polish it up, but we have had too much other work. The general idea is to provide both a map of possible decision points and serve as a debug as

[2016-01-18 17:10] kolektiv commented on #152
Absolutely on that last UI point - definitely have a chat with me if you're interested, and I can make sure you've got everything you're interested in, and also make sure you're building something that would last. And anything, no matter how small, would be cool!

[2016-01-19 07:30] mexx commented on #166
That was also my direction for the implementation, I'll try to send a PR.
I mean if I get it managed before 3.0, it can go in it, right?

[2016-01-19 12:02] kolektiv commented on #166
Hmm. I don't see why not! Yeah if you have a PR for that before 3.0 I don't see why I wouldn't take it :smile:

[2016-01-25 22:22] Vidarls commented on #62
So, I'm going to need to do hypermedia by the looks of my current project requirements.

I'd be happy to contribute back my code, only problem is that this will be a severe case of "Vidar-does-stuff-he-knows-nothing-about" (tm).

So I am in need of mentoring to guide my work if it is to be of any value to Freya.

In my mind I'm going to need:

* Some model describing links available from the serve

[2016-01-25 23:34] kolektiv commented on #62
It should certainly be possible to do something good, but it's a fairly involved area if you dive into the theory (which you probably don't need to do too deeply). I've had a few ideas over time, but they've all been more abstract than are likely to make sense for you right now. However, they are probably a useful starting point.

It's probably worth maybe having a quick Skype chat or Google Hango

[2016-01-26 07:46] Vidarls commented on #62
I understand it is quite the complex subject matter. (And also a subject matter where a lot of devs have very strong feeling about what is "the-correct-way" (tm).)

Usually what I'd do when facing these kinds of problems is to solve my concrete instance of the problem, then see if I can refactor to some more generic re-usable code that can be re-used for similar problems.

In any case, a Skype cal

[2016-01-26 13:18] mexx opened #168 "Question: Route and Query"
I have the following use case:
I want to have some handlers bound to an URI, no matter whether it contains a query string or not.

The only way I've managed to achieve this is:
[code]

Is there any more elegant way to do this?

[2016-01-26 13:59] mexx commented on #168
IMO it shouldn't be restrictive like it is now. When implementing a web service one should follow the [Postel's law](https://en.wikipedia.org/wiki/Robustness_principle).

`freyaRouter { route All "/" route1 }` should be invoked for any URI, because the query string wasn't specified in the template.
I would go even further and say, even when a query was specified, then some extra values in the quer

[2016-01-26 14:07] mexx commented on #168
Yet another thought on routing.
Currently the route have to match completely, this means one can't assign a handler for a subtree easily.

[2016-01-26 16:19] kolektiv commented on #168
I think in your particular case the answer should be `"/{?q*}"` (see http://tools.ietf.org/html/rfc6570#section-3.2.8) - which would be matched for 0 or more query string parameters. However... The matching support in Arachne.Uri.Template isn't quite complete, and Query and Query Continuation matching doesn't currently work. It will shortly!

In terms of matching a path then any tree - that again

[2016-01-26 16:21] kolektiv commented on #168
In terms of the catch all rule for query string values - hmmm. It's difficult to avoid because URI Templates are very specific. It might be something which we could add implicitly, but I would then worry about edge cases when people want a different handler for a route with a query, and a route without (not that uncommon I think - collection vs. search for example).

[2016-01-26 22:45] mexx commented on #168
Currently at least I would have to include the catch all rule to all the templates, as I want to be liberate about what the client of my web api can use as URI, it means I have to allow any query string key I don't use in my application.

I think it's more about how we do the matching to the template.
When the matching logic ignores all the query string keys that are not defined in the template ex

[2016-01-26 23:19] kolektiv commented on #168
Yeah, fair enough, slightly awkward as it stands perhaps. To some extent that's "just one of those things" when basing a router on URI Template specifications (bound by the RFC to some extent). The thing with templates is that they just don't really ignore things - they're a relatively strict standard. I am definitely open to potentially coming up with some options/modifiers in terms of matching s

[2016-01-27 01:39] mexx opened #169 "Logo link in NuGet package is broken"
Not a real show stopper, but just FYI

[2016-01-27 09:27] kolektiv commented on #169
I wasn't even aware we had a logo link! Thanks for spotting that, think I'll just drop it for now until we got a full branding exercise done at some point.

[2016-01-27 09:42] kolektiv commented on #62
Sounds a sensible approach! I'm basically UTC :) I could probably do a chat either tomorrow evening (Thursday) or possibly Saturday morning? If either of those help? It's a fairly hectic week in my "real job" this week :smile:

[2016-01-27 14:54] Vidarls commented on #62
Won't be able to start working properly on this until next week I believe. Just wanted to be a bit up front to get an understanding of current status. I'll ping you somewhere on the internets to make skype arrangments.

[2016-01-27 15:42] kolektiv commented on #62
No problem at all - no rush from this side, whenever is good for you :smile:

On 27 January 2016 at 14:54, Vidar Løvbrekke Sømme <notifications@github.com

[2016-01-27 15:45] kolektiv commented on #169
Link removed!

[2016-01-27 15:45] #169 closed

[2016-01-28 10:04] mexx opened #171 "Environment.Required_ and others are gone"
c50e33edabf5ee785a1c0e269ceb508866b8f7c6 removed them without providing `Obsolete` warning

[2016-01-28 13:09] kolektiv commented on #171
Yes, probably worth me going through and making sure that obsolete variants exist where possible. I have been trying to do so, but these things might have happened before I adopted a "backwards compatible until 4.0" policy!

[2016-02-03 22:36] mexx opened #173 "Freya.Router can't handle requests with %5D in path"
Given a simple router like
[code]
when requested with `/some%5Dtext` the route is not matched.

The problem arises from the fact that the `owin.RequestPath` is provided as percent-decoded value as required per [OWIN v1.0 Spec 5.5 Percent-encoding](http://owin.org/html/spec/owin-1.0.html#5-5-percent-encoding).

The `UriTemplatePart` matching algorithm expects the path to be encoded.

[2016-02-04 08:53] kolektiv commented on #173
Hmmm. That's... annoying on the part of OWIN! I'm not sure what the best approach will be, other than finding an alternative source of the original path (non-spec compliant, so probably not) or - and I suspect this might be the only way - re-encoding the path before matching on it. Which isn't really ideal, but i'm not sure there's much else in terms of options. What do you reckon? You might have

[2016-02-05 11:59] mexx commented on #173
For me there are two ways, re-encoding or loosen the matching parser to accept also already decoded input. Both options should lead to success. I see freya-fs/arachne#34 as somehow related to this issue.

For now re-encoding looks more correct to me. I think we should provide `Request.pathEncoded_` and `Request.pathBaseEncoded_` lenses and use it in the search for a matching route.

[2016-02-12 12:52] #173 closed

[2016-02-15 20:16] kolektiv commented on #134
I think this was also relating to a recent fix (#174) that went in around OWIN uri-decoding the path, so I am hopeful that this is good now...

[2016-02-15 22:41] mexx commented on #134
Looks as the same cause to me. Should be fixed now.

[2016-02-24 15:01] Vidarls commented on #105
So, I've shaved some yaks...

One of my favourite aspects of using F# is the types, and how little effort adding a new type is.

I tend to create specific types for identifiers, even if I could have used a GUID or int to keep me from passing in the wrong one. Also it makes composite Id's a lot easier to work with, as these can encapsulate a set if int's or similar.

A common use case is `/get/{myI

[2016-02-25 21:59] Vidarls commented on #105
looks like I need to read the docs more closely to see if I can get more inline with the uri template way of thinking. (http://docs.freya.io/en/latest/router/examples.html) any feedback is welcome though..

[2016-02-25 22:21] kolektiv commented on #105
Oh that looks like some really interesting thinking :smile: I'd definitely like to experiment with something like that, maybe as an add-on or extension to the router. I think optics could be the way to do some of the typing work, I'm going to have to experiment!

Thank you for sharing, there's definitely something worth working on here. I want to get 3.0 out and sorted, would you be interested in

[2016-02-26 10:12] Vidarls opened #175 "[Guidance needed] Freya and caching"
Currently working on getting my api to play nicely with caching clients, and I struggle a bit.

### Cache-control

I can't find any trace of cache control directives using FreyaMachine.

When handling an authorized request, at least `cache-control: private` header should be present.

Also for a close-to-metal stack like Freya it would seems natural to provide a lot more control here, (of course wi

[2016-02-26 10:20] Vidarls opened #176 "Adding e-tag to my machine causes runtime error"
This works:

[code]

This fails:

[code]

I have no idea whether I I'm doing it wrong or if there is a bug

The exception is an `InvalidCastException`:

[2016-02-26 10:22] Vidarls commented on #175
Note: I am very much **not** an expert of the http protocol, so I really want Freya to push me into the pit-of-success :tm:

[2016-02-26 10:26] kolektiv commented on #176
That looks like a bug to me. I suspect it might be actually in the `lastModified` implementation, which I believe is fixed in the (released very soon) 3.0. There are a couple of suspected bugs lurking in there which are hopefully no longer present.

At this point I think it's probably better to wait a week or so for 3.0, but if it's a significant blocker for you now, I'll see what I can do?

[2016-02-26 10:31] kolektiv commented on #175
You're right, machine at the moment doesn't really help much with cache control. It could, now that I think about it (at least in terms of helping with the response handler, taking that away from the end user). I'm not sure there's time to get that in to 3.0, although I'll take a look. If not, it'll definitely be in 4.0.

The same, I think, applies to the other cache control items - I think I need

[2016-02-26 10:32] kolektiv commented on #175
One dependency needed is fuller support for those headers in Arachne as well, so I'll make sure that ends up on the slate. At the moment, you could probably make sure some of those headers are set directly from the handler in machine, but it isn't as nice as it could/should be.

[2016-02-26 10:35] Vidarls commented on #175
I can set the headers directly in the handler, and the machine would respect those?

[2016-02-26 10:36] Vidarls commented on #176
I can live for a week without last-modified :)

[2016-02-26 10:39] Vidarls commented on #175
Can you give a pointer to how to do this with lenses?

[2016-02-26 10:39] kolektiv commented on #175
It shouldn't touch them from that point onward. The machine isn't going to _use_ them in any way as it stands, it just lets you take as much control in the handler as you'd like. So although it isn't as helpful as I'd like, it should "keep out of the way"!

[2016-02-26 10:41] kolektiv commented on #175
I'll try and put a quick example together shortly :smile:

[2016-02-26 11:55] kolektiv commented on #175
I think - and this is effectively from memory/looking at code - that cache control would look something like this (this assumes Freya 2.x)

[code]

That uses the CacheControl type from Arachne (https://github.com/freya-fs/arachne/blob/master/src/Arachne.Http/Http.fs#L1626) with the lens to the appropriate response header. If you were to add that to your handlers (and add more directives to cache c

[2016-02-26 12:00] Vidarls commented on #175
while waiting I did this to try to put all caching concerns in the same place:

(note: I want to enable client side caching, as performance is a concern, but I do not want intermediary caching as security is also a concern. (And yes, all is 100% https))

[code]

Looks sensible?

[2016-02-26 12:03] kolektiv commented on #175
Yes that should probably do it. If you open `Freya.Lenses.Http` and `Arachne.Http` then you should be able to shorten a lot of those long type references as well. `Response.Headers.CacheControl_` is what I'd normally expect, etc.

Those `Freya.Lens.setPartial` calls should also use `do!` notation, so `do! Freya.Lens.setPartial ...` etc. with no need for `|> ignore`.

Hope that's helpful!

[2016-02-26 12:13] Vidarls commented on #175
Will setting `expired` and `ETag` out of band like this disturb how the machine responds to requests?

[2016-02-26 12:32] Vidarls commented on #176
Sadly, it seems removing the last-modified did not help, adding just the etag, with no last-modified caused the same error.

[2016-02-26 12:46] Vidarls commented on #175
:( Yes it will, I get 304 not modified always when e-tag is not set in machine, and I can not set e-tag in machine due to #176.

Is the prerelease of v3 somewhat stable?

[2016-02-26 13:45] kolektiv commented on #175
No it shouldn't, the only change when not telling the machine about etags and last modified is that the machine won't do any precondition checking (so it won't be able to handle the conditional request logic and will effectively skip it). However, that may not be a big problem, and anything you set in the handler should have no impact - invoking the handler is basically the last thing in a machine

[2016-02-26 13:46] kolektiv commented on #176
Interesting, definitely a bug. I'll take a look and make sure it's not still a bug in 3.0...

[2016-02-26 13:48] kolektiv commented on #175
Hmmm. That's interesting, it definitely looks like there's a bug with etags. That certainly needs fixing. v3 is relatively stable (it has various changes and so will result in quite a lot of deprecation warnings, and a few breaking changes to functions, but they're not too surprising). Aside from this current question around lastModified/etags there's nothing major I'm aware of stopping the releas

[2016-02-26 14:14] Vidarls commented on #175
Just for clarity: This bug is _fixed_ in v3?

if not: Is there any way to to a manual handler for precondition checking?

[2016-02-26 14:22] Vidarls commented on #175
Also on caching:

Any time a request is received with headers that may cause different representations, the `vary` header field should be used to ensure any caches does not cache the wrong representation.

This could be media type, language, but also authentication.

Even when `cache-control :private` is used, multiple users on a shared computer could get a representation from cache that is not in

[2016-02-26 14:55] kolektiv commented on #175
If it isn't already fixed in v3, it will be over the next couple of days! A manual handler would be "kind of" possible, but is going to happen at a less than optimal point in the process (you'd have to write it in to the handler, with all of the logic and responses going there, which isn't great).

I'll have a look in to the variation specs (RFCs 7230-7235 are the current ones on this) and make su

[2016-02-26 14:58] Vidarls commented on #175
And it is not super straight forward, more goodness from the RFC:

https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9.4

[2016-02-26 15:03] Vidarls commented on #175
I'll try to use the pre-release.

Currently doing a rather big rewrite / refactoring from Proof-of-concept-that-is-currently-in-production to something we can build a production grade solution from, not expecting to put any of this into production until some time next week.

A little note on my project: Biggest challenge I believe will be creating a stack I can easily teach my C# centric team, and

[2016-02-26 15:05] kolektiv commented on #175
Yes, variability isn't completely straight forward at the best of times! I'm going to try and take some time over the next couple of days to make sure that 3.0 is free of known issues and ready to be released at the beginning of next week.

[2016-02-26 15:30] Vidarls commented on #175
So, that was the fastest major version migration I've done ever I think :+1:  Clear compiler errors and obsolete warnings

[2016-02-26 15:38] Vidarls commented on #175
But bug is still present in v3:

`'Unable to cast object of type myMachine@81-13' to type 'Microsoft.FSharp.Core.FSharpFunc`2[Freya.Core.Types+FreyaState,Microsoft.FSharp.Control.FSharpAsync`1[System.Tuple`2[Arachne.Http+EntityTag,Freya.Core.Types+FreyaState]]]'.`

[2016-02-26 15:45] kolektiv commented on #175
Right, I'll see if I can repro and get a fix done!

[2016-02-26 15:56] Vidarls commented on #175
Quick Q on v3, are there any notes anywhere on subtle breaking changes?

It looks to me like the specs param of handleOk is now removed, may cause some strangeness?

[2016-02-26 16:01] Vidarls commented on #175
Current caching solution, works as intended:

[code]

usage:

[code]

Composition is fun :-)

[2016-02-26 18:42] kolektiv commented on #176
I've pushed a new prerelease (b294) of Freya 3 which, I hope, addresses this. Let me know if that helps - more work may be needed, but hopefully that's an improvement!

[2016-02-26 20:04] Vidarls commented on #176
Thanx, I'll give it a go :-)

[2016-02-26 21:19] Vidarls commented on #176
So far so good, no more runtime error, and when 200 + new version served. I have not tested the on-non-match query yet, will get back to you once I have

[2016-02-26 22:45] Vidarls commented on #176
Still getting 304 no matter as long as an etag is provided

[2016-02-26 22:59] kolektiv commented on #176
Well, better at least in terms of exceptions... Have you got a minimal reproduction case? What are you setting the etag to, and what methods/headers are you trying?

[2016-02-26 23:17] Vidarls commented on #176
Using:

[code]

just passing `System.Guid.NewGuid().ToString()` as the etag to force a new one each call.

sample request:

[code]

Response:

[code]

[2016-02-26 23:21] kolektiv commented on #176
I'll take a look (although probably tomorrow now!)

Does If-Match seem to work as you'd expect (is the problem solely If-None-Match?)

[2016-02-26 23:23] Vidarls commented on #176
Have not tested, (I actually need to read up on that to see how it is supposed to work..).

But a bit late now

[2016-02-26 23:25] kolektiv commented on #176
No problem - a bit late for me too! I'll try and pick up tomorrow, and get this sorted :)

[2016-02-27 15:51] Vidarls opened #179 "UriTemplate lists"
I tried to follow the example here: http://docs.freya.io/en/latest/router/examples.html#lists to have a list of parameters:

[code]
Executing:

[code]

the value becomes:

[code]

Any pointers to what I am doing wrong?

[2016-02-27 18:45] kolektiv commented on #179
It's not your fault, certainly. I had a nasty feeling as I saw this, and I think it's come down to the fix for this: https://github.com/freya-fs/freya/issues/173 breaking things here. We're re-encoding the path and query, but that's causing 1,2 to become 1%2C2, which is then getting matched as a single value.

I'm going to need to think about this carefully. There's a (very, very annoying) assumpt

[2016-02-27 19:20] Vidarls commented on #179
Ok, worked around it by handling the string parsing myself for now.

when working as intended will:

[code]

and

[code]

be matched as different paths with different handlers?

[2016-02-27 21:12] kolektiv commented on #179
The answer to that is "potentially"! Paths are matched in precedence order. There would be no way to distinguish, for example, between a listofstuff with one item, and a singlearg. So if the match with listofstuff was declared first, and higher precedence, you would never hit singlearg, as you would already have matched. If you reversed them, you would potentially still see different things, as si

[2016-03-01 00:26] kolektiv opened #180 "OWIN does not provide access to the original request path/query"
A couple of issues have recently surfaced the flaw in OWIN that the original (percent-encoded) path and query is not available. This is problematic, in the case of Freya for routing - the URI template approach expects percent-encoded input.

A workaround was put in place (re-encoding the input before attempting a match) in the hope that this would fix the issue, but unfortunately it turns out that

[2016-03-01 06:28] mexx commented on #180
As I currently reread the section of the [RFC](https://tools.ietf.org/html/rfc3986#section-3.3) about the path, I think the current implementation is encoding way to much characters. `sub-delims` as well as `:` and `@` shouldn't be encoded as they are permitted as part of the path segment. Maybe it would already fix the issues.

[2016-03-01 08:21] kolektiv commented on #180
I experimented with relaxing the encoding, but it still leaves the problem, just in slightly different cases. For example, consider the case of a template "/chars/{chars*}" where the intention is to read and write a comma separated list of chars. A client sending "/chars/%2F,%5E", intending to send the list of chars (as strings) [ "/", " " ] will cause a problem, as OWIN will decode that, and give

[2016-03-01 08:22] kolektiv commented on #180
As a follow up question (when people get here!) which servers are people using? Katana/IIS? Suave? Something else? Thank you in advance!

[2016-03-01 08:25] Vidarls opened #181 "Freya if not Freya"
is there anyway to do this:

[code]

Basically I have a function that always return a Freya of something, but I want it to accept an argument that may or may not be wrapped in a Freya.

(It seems v3 machine builder does some of this magic..)

[2016-03-01 09:04] kolektiv commented on #181
The short answer to this is "yes" but there are certainly some caveats. I'd try and avoid doing it if possible (either via a discriminated union for the two cases, or a similar approach). I've not found too many places in "normal" code where it's worth the downsides (Machine builders being one of the few!)

If you do want to do it, the approach is basically about static inference, and looks like t

[2016-03-01 09:38] Vidarls commented on #181
Luckily this is way! too much ceremony for me to bother sprinkling all around.

I'm basically accepting any function and need to see if it is withing a Freya or not.

Currently I have to different functions, but I'll look into the DU suggestion.

Thnx :smile:

[2016-03-01 09:38] #181 closed

[2016-03-01 09:48] Vidarls opened #182 "Composing with Freyas and not Freyas"
I think I'm doing it wrong, but I currently find that going back and forth between what is inside a Freya computation and what is outside is causing me a lot of pain.

How do I best compose a function within a freya with an argument from outside the freya:

[code]

with a normal Non-Freya func I can do:

[code]

How do I achieve the same in Freya without a lot of ceremony?

The opposite is easy us

[2016-03-01 21:23] Vidarls opened #183 "Is it "ok" to put stuff into the environment dictionary"
I find myself passing much of the same stuff into each machine config. Makes a lot of noise and ceremony.

Is it ok / within best practice / not frowned upon to put stuff into the owin / freya enviornment dictionary for "global request scope" access?

If so, what is it ok to put in there, and when to do it to ensure it is there when I need it?

If not, any pointers on how to handle stuff needed ev

[2016-03-01 23:30] kolektiv commented on #183
The simple answer is yes, it's reasonable to use the environment for request scope (in my opinion at least). Controlling how that's done is slightly trickier, and Freya has something to help there. The function `Freya.memo` will take any `Freya<'a>` function and return a new `Freya<'a>` function - but which will only run once per request, and the result will be stored in the environment (or nearby

[2016-03-01 23:59] kolektiv commented on #182
I'm not totally sure I see how you mean. It seems like if you have external args, just leaving them external is fine - then your `string -> string -> Freya<string>` would partially apply and be `string -> Freya<string>`. If your arguments themselves are Freya functions, you probably want to look at some of the other composition functions (and perhaps operators). https://github.com/freya-fs/freya/b

[2016-03-02 00:02] kolektiv commented on #180
For those interested, see this commit to my fork, https://github.com/kolektiv/freya/commit/eee2ef9a15a159c85036b4ab2a6097e19285d2f9 where I've introduced the concept of polyfills for OWIN, effectively. Freya.Polyfills and Freya.Polyfills.HttpListener are new, and may shortly be joined by a Suave equivalent.

Although an annoying step, it does get back to properly supporting URI Templates (and any

[2016-03-02 09:07] statpro-awebb commented on #180
I'm relatively new to OWIN (apart knowing what it is, and having an overview understanding), so I don't know the history here, but I see that there is a [1.0.1 draft](http://owin.org/html/spec/owin-1.0.1.html), last updated in October 2014.

Is it not time to pick this up and aggressively push it forwards to address this issue (i.e. make the original path be a required key in the request data), as

[2016-03-02 13:33] kolektiv commented on #180
Ah, OWIN itself. Yes, I probably will try and pick up getting that in to a future spec, but the problem is that implementers (mainly Microsoft) aren't overly interested in sticking to the spec. The chances of getting evolutions pushed through are not all that high in terms of things like Kestrel.

I will certainly try and at least get the additional data added to the draft, and the choice of polyf

[2016-03-02 14:13] statpro-awebb commented on #180
Yes, I have little idea about Nowin uptake, but it is mentioned quite prominently on the new ASP.NET website's [OWIN page](http://docs.asp.net/en/latest/fundamentals/owin.html).  (Mike Hadlow also blogged about using it, sometime last year.)

Maybe an OWIN spec update to fix this issue (and others?) would be a good test case to see just how easy or difficult it's going to be to get Kestrel (or Kes

[2016-03-02 14:53] kolektiv commented on #180
Interesting on Nowin. Maybe I should revisit! True in terms of OWIN, going to take some politics...

On the Suave side, that's where I have least concerns. The Suave crew (@ademar, @haf, etc.) are easy to talk to and receptive to patches and help :smile:

[2016-03-02 16:22] haf commented on #180
Thanks @kolektiv :heart_decoration:

[2016-03-03 08:55] Vidarls opened #184 "Authorization / authentication of options requests"
I found (after some serious one-on-one time with my fiddler) that I needed to disable authorization / authentication of OPTIONS requests. Are there *any valid usecases* where you would want to have authentication on OPTIONS requests. It seems from this: https://www.w3.org/TR/cors/#cross-origin-request-with-preflight-0 that browsers will strip away authorization headers for the pre-flight OPTIONS r

[2016-03-03 09:23] kolektiv opened #185 "Documentation on Auth of OPTIONS requests"
As noted in #184 it's not intuitive that auth needs to be explicitly "bypassed" in logic for OPTIONS requests (at least for CORS). This should be documented and ideally sample code provided to make this obvious and easy.

[2016-03-03 09:24] kolektiv commented on #184
Hmmm, that's an interesting point. The honest answer is "I'm not sure"! OPTIONS requests do have wider uses than simply CORS, although that is the most common use case now I would imagine. I can imagine situations where securing them is needed. I'm hesitant to remove the *possibility* of securing them because of that. It does mean an extra conditional on request method on the auth logic though I'l

[2016-03-03 09:41] Vidarls commented on #184
I agree with regards to not _removing_ the possibility.

But If the most common use case requires most people to create extra ceremony code  there might be a case for some defaults that can be overridden?

[2016-03-03 09:43] Vidarls commented on #184
I really appreciate that I now have a lot more understanding of the http protocol (the RFCs are quite well written and easy to understand), but I wish that Freya would have gently pushed me in the correct direction rather than give me the software version of RTFM :smirk:

[2016-03-03 09:51] kolektiv commented on #184
Haha, that is a fair comment. Documentation around "how and why" to configure machines is absolutely needed. A recipe style approach combined with some deeper dives is my current thinking as to a possible way to do that - but I would be setting myself up for looking silly if I promised when! I hope "soon".

In terms of defaults, I'll definitely have a think about whether something reasonably neat

[2016-03-03 10:02] Vidarls commented on #184
I might be able to contribute to the docs. I am starting to feel quite comfortable with the basics. My team will need docs anyway, so I see no problem in crafting the non-domain-specifics in such a way that it can be incorporated into the Freya docs.

Currently my plan is as follows:

* Finish caching strategies and implementations.
* Implement hypermedia (ref #62 )
* Change my client to actually

[2016-03-03 10:07] kolektiv commented on #184
Any doc contributions will be very happily received! When/if you get time for it, that would be great - if you don't get time for it, that's also fine, your engagement is appreciated :smile:

[2016-03-03 13:25] Vidarls commented on #183
Found that I did not really like how it affected composability to put config inside memos, so found a different way of organizing my code. Now got a much better feel for it :smile: Thanx for input though.

[2016-03-03 13:25] #183 closed

[2016-03-03 13:26] Vidarls commented on #182
Figured this out be rethinking my components a bit. Will do another issue if required. Thanx for getting back to me :smile:

[2016-03-03 13:26] #182 closed

[2016-03-03 13:56] kolektiv commented on #183
Fair enough :smile: Memos work well for some things, but not all!

[2016-03-04 14:44] Vidarls opened #186 "more OPTIONS issues, this time with etags"
there seems to be no way to avoid executing the logic that generates an e-tag when server receives an OPTIONS request. In my case this means that the db query gets executed twice for any CORS request :cry:

I'm not sure that responses to OPTIONS should have etags, can't seem to find the definitive answer, but there is no easy way of making this conditional. Currently I'm handling this by replying

[2016-03-04 14:53] Vidarls commented on #176
Solved, thanx @kolektiv :smile:

[2016-03-04 14:53] #176 closed

[2016-03-04 14:55] Vidarls commented on #175
I have a solution now that mostly works (some OPTIONS issues #186 ) and a bit of ceremony required, but it works. Feel free to close , and maybe open a new issue for a more thorough solution to all things caching if you feel that is wanted.

[2016-03-04 16:32] kolektiv commented on #186
This is odd, from my memory of the processing graph in Freya until now, OPTIONS requests should be doing any of the negotiation side of things at all. I wonder if it's simply a question of the handler doing too much. I'll check.

[2016-03-04 16:42] kolektiv commented on #186
Right, yes, the Freya OPTIONS operation invokes etag, last modified, etc. (https://github.com/freya-fs/freya/blob/master/src/Freya.Machine.Extensions.Http/Operations.fs#L169-L175) and I don't think it should. OPTIONS requests aren't cacheable, and they shouldn't be treated as resources. I think that everything but the status and phrase could probably be removed from that, which would solve your pr

[2016-03-05 21:53] kolektiv commented on #186
Have just merged #187 which should hopefully change the operation for OPTIONS and stop it setting headers that aren't properly needed. Let me know if this improves things!

[2016-03-05 21:53] kolektiv commented on #175
I'll close this one and open a new issue around the possibility of more declarative setting of cache information.

[2016-03-05 21:53] #175 closed

[2016-03-05 21:54] kolektiv commented on #184
Closing this one for now, as the docs (whoever gets there first!) are now tracked as #185.

[2016-03-05 21:54] #184 closed

[2016-03-06 14:51] Vidarls commented on #186
:+1: Will take it for a spin next week

[2016-03-07 14:25] Vidarls commented on #186
Etag is no longer called on options requests as far as I can see :+1: but now I have a question about the Freya.memo, as my query is again running twice on each request.:

[code]

If I call the above func twice in the same request with the same params, should it not execute only once?

[2016-03-08 09:18] kolektiv commented on #186
Hmmm. The memoization I think is only likely to work as intended for declarations (parameter free) rather than functions. As it stands, every time you call that function it'll generate a new memoized function rather than simply evaluate the function. That might sound quite useless, but sometimes it is possible to make it so that chains of memoized functions are useful (for example, if those params

[2016-03-08 09:27] Vidarls commented on #186
Ok, I kind of figured that would be the case. I can work around it by using some composition patterns I believe. At least now we can close this issue.

[2016-03-08 09:27] #186 closed

[2016-03-08 09:53] kolektiv commented on #186
Great on the original issue! I'll have a think about whether more advanced memoization is worth some implementation effort...

[2016-03-08 21:33] Vidarls commented on #62
So, it looks like "next week" was a bit optimistic, but now finally I am about to start implementing some hypermedia support in my app. And if possible I would like to contribute back any reusable pieces.

I'm going to start with `hal+json` cause it is super simple, and covers my current needs quite well.

TODO:

* Declare routes in a way that they can easily generate a valid URL from typed argume

[2016-03-10 13:20] kolektiv commented on #62
Sounds good! I'll be interested to hear how you find things, certainly HAL is a simple (and good) place to start. I'm less sure about the typed paths side of things, I tend to find that the routes plus additional optics gives a nice story around that, but I'm certainly open to alternatives.

[2016-03-10 14:32] Vidarls commented on #62
I kind of just had a some sort of epiphany with regards to optics and lenses and morphisms.
Now I just need to get past the "lens all the things" period that comes after gaining some new knowledge.
Suffice to say that lenses and strongly typed stuff goes nicely together.

So far it seems like there might not be much need for boxed code to do hal and hypermedia. It might be that a recipe in the doc

[2016-03-10 23:56] Vidarls commented on #62
The combination of UriTemplates and Optics turned out to be very powerful and flexible and actually allowed me to quite easily do the roundtrip:

* url from browser
* >> strongly typed url parameters from request
* >> render url from template with strongly typed parameters

So now all is ready for easily generating links for hypermedia relations (yay)

Interesting note:

I spent about 5 hours work

[2016-03-11 00:06] kolektiv commented on #62
Great to hear! That was what I had in mind when designing the way that routes would work - making matched data available through optics means that composing those optics further to give whatever control over types you want becomes "just more optics" rather than a special case. Basing the routing on URL Templates also means that generating URLs is just the dual of matching URLs (with some limits, b

[2016-03-21 13:22] Vidarls opened #188 "[Suggestion] Boolean combinator operators"
I find myself combining different `Freya<bool>` computation quite frequently and I have made the following custom operators for myself:

[code]

Might be useful to include as part of the standard operators?

[2016-03-21 13:34] kolektiv commented on #188
Yes, seemingly reasonable to me. I don't see why not! I'd probably make `and` = `<&&>` for consistency, but other than that, sure :smile: Would be happy to take a pull request if you get there before me!

[2016-03-22 13:19] Vidarls opened #189 "[Suggestion] Combinator operators for partial application of functions wrapped in Freya computations"
As I previously mentioned in #182 I've had some issues getting to grips being inside / outside Freya computations. Particularly with regards to passing around partially applied functions that requires arguments from inside a Freya computation, (and thus themselves get wrapped in a Freya computation after..)

I ended up creating the some custom operators (again).

(Btw, I really wish F# would suppo

[2016-04-04 07:17] Vidarls commented on #189
ping @kolektiv This is the one I would like some feedback on before doing a PR on operators.

[2016-04-04 18:56] kolektiv commented on #189
I don't see why not :) There are ways of writing them using the more "common" operators, but they're less concise, and we wouldn't be mandating these. I think this would be fine, but I'd probably add them to an extra module under Freya.Operators - something like Freya.Operators.Extended to signify that these are probably a bit more special purpose. But I'd be happy to take that I think!

[2016-04-05 09:34] Vidarls commented on #189
Ok, I'll give it a go.

Just for my education: would you mind giving an example of how to to this with the "common" operators. And perhaps also give some suggestion on what to name my shortcuts?

[2016-04-05 09:53] kolektiv commented on #189
Sure, let me put something together :) I'll have a think on the naming!

[2016-04-05 10:27] kolektiv commented on #189
Not sure how clear this is, but maybe useful - and I think doing the same thing! The first one is slightly awkward, although could be slightly tidied up by defining a function `let apply a b = b a` and then replacing the function definition with simply `apply x` as shown:

[code]

Hopefully that's useful?

[2016-05-09 14:42] jwood803 commented on #141
Apologies I've been off on this lately. Are there still dependencies that are needed or just for me to quit being lazy and update the build? 😄

[2016-05-14 10:45] kolektiv commented on #141
It's nearly there, pretty much all dependencies (except Freya itself) are compatible now. Hoping to find the time to push things out with Freya in the next week or two, as it's not far away.

[2016-05-27 20:20] Kavignon commented on #107
Hey, love to know what are the update concerning this question  ?

[2016-05-27 20:21] Kavignon commented on #123
What is the required work? I've been through the site but I don't see what I would have to do here !

[2016-05-31 14:42] kolektiv commented on #107
Hi @Kavignon - sorry I've been a bit slow replying to this, away over the long weekend, etc. At the moment we've not followed any paths towards WebSharper integration, although both Suave and WebSharper now have OWIN support in some forms so that might well be the most obvious first step to investigate. This is probably a fairly speculative question for now, to be entirely honest!

[2016-05-31 14:44] kolektiv commented on #123
This is certainly an interesting one, and I'm not sure what the best approach would be. I'm not sure how widespread OWIN sendfile support is. At the most simple, I would imagine that a proposal for a simple function/syntax for calling the appropriate OWIN key/functions would be step 1. What's your potential use case for this? Happy to try and work with you on a good solution if you've got a need w

[2016-05-31 14:52] Kavignon commented on #123
Right now,  I have none.  If you have something you'd like me to make some research on it,  I'll be more than happy to do it!

[2016-06-05 17:02] kolektiv commented on #149
An update to this for those interested in progress!

It's been a while (longer than I wanted) for this timeline to run. Partly that's been due to some real life issues getting in the way outside of software (sometimes this happens!) and partly due to finding some more out about better ways of structuring and developing Freya in the process of doing this. In short, I'm planning on simplifying/short

[2016-06-24 12:15] robsiera commented on #62
@Vidarls Any update on you progress?

Let me share a link to [an overview of current standards](https://gtramontina.github.io/h-factors/), their state and the aspects they cover.
Personally I'm currently looking for [json api](http://jsonapi.org/) support in F#

[2016-06-28 08:00] Vidarls commented on #62
tl;Dr:

You can do it, it will be beautiful, but you have to build it your self from the components provided by Freya.

The long answer:

@robsiera Well, the good news is that I got some nice stuff working. The bad news is that I had to abandon the company of Freya due to non-technical reasons, so I have not been able to refine my solution anywhere near as much as I would have liked to.

I have no

[2016-07-24 08:52] lijunle opened #190 ".net core support?"
Any plan to support .net core?

[code]

[2016-07-24 19:31] kolektiv commented on #190
Being totally honest - yes, but I'm not sure when it will be. Although the general direction of travel is getting more obvious, it's still not all that clear how to maintain a good and consistent development experience (using Paket, etc.). As soon as 3.0 is out in a final release, i'll be looking to get a .net core release out shortly afterwards, so I don't think it'll be a long way off. Is it a c

[2016-07-24 20:20] lijunle commented on #190
No. Super thanks to schedule this on  your plan.

[2016-09-08 07:51] polytypic opened #191 "Getting hello to work"
I made a quick attempt to get the hello example from

  https://docs.freya.io/en/latest/tutorials/getting-started.html

to work.  Here is the code:

  https://github.com/polytypic/freya-hello

What I expect is to get a `Hello World!` reply, but instead I get these:

[code]

[code]

What am I doing wrong?

[2016-09-08 09:12] polytypic commented on #191
After building and running [freya-examples](https://github.com/xyncro/freya-examples) and comparing the set of dll's it seems that the problem was missing `Freya.Polyfills.dll`.

[2016-09-08 09:27] #191 closed

[2016-09-08 10:51] kolektiv commented on #191
That is interesting though, as the Hello World demo doesn't actually use the Polyfills at all (although the project in freya-examples does have a reference to it). I don't think it should need polyfills at all for just that code - so I'm going to check!

Good to see that you got it working, but sorry that it wasn't trivial! I'll look at that.

[2016-09-08 10:56] polytypic commented on #191
I'm not sure what the exact set of dlls required is.  I initially just added dll references until it was possible to run the `app.fsx` script without it being terminated due to a missing dll error, but that does not seem to be enough to process requests correctly.  Now I've just added all the dlls used by the `freya-example`.

[2016-09-08 10:56] kolektiv commented on #191
Although - the router does have a dependency on Freya.Polyfills - just not a specific server implementation. So it would need the dependency on Freya.Polyfills.dll (but not a dependency on anything like Freya.Polyfills.Katana.dll). The same applies to the Hopac versions. Hmmm.

Do you think it behaves as expected? And do you think there's anything I could add in terms of documentation, etc. to sav

[2016-09-08 11:15] polytypic commented on #191
Hmm... A troubleshooting section that explains how to get info (without a debugger) when the server responds with 500 might have helped.

[2016-09-08 14:10] kolektiv commented on #191
Yes, that's a pretty reasonable call. It's a bit of a sod because the error and doing anything about is generally inside either Katana, Kestrel, etc. and they're awful at signalling anything useful going on through their errors. But even a short section detailing known failure modes as people find them would at least give people a place to look and maybe save some time and pain.

[2016-11-30 13:09] ibnuda opened #192 "Content-Disposition"
I've found a problem when I upload data to server using `enctype=form-data` and the raw request body contains these two lines of
[code]
--------
For easier explanation, this [SO thread](http://stackoverflow.com/questions/8659808/how-does-http-file-upload-work).

And my question is, how should I deal with the first four line (request boundary, Content-Disposition, Content-Type, blank line) and the

[2016-12-05 01:38] ibnuda commented on #192
Closed.
Should be fixed using http-part parser like [this](https://github.com/Vodurden/Http-Multipart-Data-Parser).

[2016-12-05 01:38] #192 closed

[2017-03-22 01:54] btrepp commented on #185
Is it possible to make the cors-machine bypass the auth?. The way it stands is there is two ways I see this being used.

1) The client is actually trying to do an OPTIONS call, eg to find out if it can say access the resource, I can see authorization being useful here
2) The client is checking CORS, auth is never allowed here.

To me these are two completely different actions (despite both occurin

[2017-04-03 18:53] et1975 opened #194 "Unmatched route returns 200"
Running HelloWorld and asking for `/hell` returns OK (200).

Is there a way to configure the router to return 404 for unmatched routes instead?

[2017-04-03 20:22] neoeinstein commented on #194
Yes. The `OwinMidFunc.ofFreya` function needs to be modified to halt when the pipeline result is halt. Check out xyncro/freya-core#6, which has the patch as part of the .NET Core conversion. (This should be merged and released as a new alpha soon.

[2017-04-03 22:05] neoeinstein commented on #194
Here's a direct link: https://github.com/xyncro/freya-core/pull/6/commits/5a8891a74a5022a2ce1b6c267500feaf561d1b57

[2017-04-04 12:56] et1975 commented on #194
thanks!

[2017-04-04 12:56] #194 closed

[2017-04-09 16:12] kolektiv commented on #194
Just a comment on this one now that I look at it... I wouldn't say a router should return 404 (or return at all) for an unmatched route, but pass through to the next pipeline component. That way you can write a general 404 handler to sit at the end of a pipeline chain, compose multiple routers in sequence, etc. If a router returns halt when no routes match, that would preclude some useful function

[2017-04-10 13:13] et1975 commented on #194
+1 for more useful functionality, anything would be better than 200 though.

[2017-04-11 02:08] panesofglass commented on #194
@et1975 the default status code is `200 OK`. Anything else should be configured. It's possible that we could change that in the router, which could, for example, default to `404 Not Found` for anything not explicitly mounted. However, changing this in Freya.Core would break the OWIN abstraction, which is to allow a user to determine how things are handled.

[2017-04-11 02:11] panesofglass commented on #194
@neoeinstein does correctly halting cause the response status code to return `404 Not Found`, or does that just correctly return the completed `Task` at that point?

[2017-04-11 02:25] neoeinstein commented on #194
So, I spent some time discussing what was happening with @kolektiv. There is a difference between the abstraction used by Kestrel and by Katana.

In Katana (and I haven't verified this), the entire application is the `OwinAppFunc`, and the environment is set up with `200 OK` as the default. Thus, if no route matches and it falls out the bottom of a router, the result is an empty `200 OK`.

In Kest

[2017-04-15 01:18] xperiandri opened #195 "Swagger and versioning"
How Swagger generation and versioning can be implemented in Freya as well as with [Swashbuckle](https://github.com/domaindrivendev/Swashbuckle.AspNetCore) and [ASP.NET API Versioning](https://github.com/Microsoft/aspnet-api-versioning) which use MVC ApiExplorer in ASP.NET Core?

[2017-04-15 01:24] xperiandri opened #196 "Document custom operators"
When you browse code on GitHub to have a look how it works knowing custom operators is crucial to understand anything.
Could you describe them in ReadMe so that code can be understand.

[2017-05-08 03:36] ForNeVeR commented on #190
It's time to close this issue. .NET Core is supported, [check out the docs](https://docs.freya.io/en/latest/tutorials/getting-started-netcore.html).

[2017-05-08 19:35] #190 closed

[2017-07-12 15:05] ptrelford opened #197 "Documentation or Examples on handling Cookies"
Is there any documentation or examples on handling Cookies with Freya?

[2017-07-13 10:14] ptrelford commented on #197
I think I've managed to find some source code: https://github.com/xyncro/freya-types/blob/master/src/Freya.Types.Http.State/Types.fs

and some tests: https://github.com/xyncro/freya-types/blob/master/tests/Freya.Types.Http.State.Tests/Types.fs

[2017-07-13 16:25] kolektiv commented on #197
Yes, the types in Http.State, along with the associated Optics in Optics.Http.State (from memory) should allow you to work with cookies in pretty much any normal Freya<_> function...

[2017-07-14 10:56] ptrelford commented on #197
OK, thanks, so say I'm trying to set a Cookie using the hello world app.
I've referenced the Freya.Types.Http.State package.

Opened the relevant namespaces:
[code]
Have a SetCookie value:
[code]
How and where would I use the SetCookie value?
[code]

[2017-07-14 23:26] kolektiv commented on #197
Hmmm, that's an interesting one as I thought we had optics for cookies... @neoeinstein do you remember seeing some? 😄  If you were setting the cookie, you would want to do it in your hello handler in the example above - it would look something like `Freya.Optic.set Response.cookie setCookie` - given that suitable optic. I'll hunt around and see whether I have one and it's just unpublished...

[2017-07-17 08:14] ptrelford commented on #197
@kolektiv here's some code to work around the missing functions for cookies:

[code]

Would be nice if you can include support for cookies in the next release.

[2017-09-11 00:33] btrepp commented on #62
Anyone made something amazing with freya like this and have some examples I can look through?.

I've thought the whole freya config/computation expression style could be layered on to have AtomPub and possibly OData like state machines. Unfortunately I haven't gotten the time to further play with this idea... yet.

[2017-10-18 16:45] #197 closed

[2017-11-22 03:23] btrepp opened #198 "Moved decisions don't work in Freya.Machines.Http 3.0.0-rc05"
[code]
Ends up with 404 instead of 410.

I've upgraded to the 4.0.0-alpha, and these decisions now work.

This issue mainly exists in case anyone else is having issues with this

[2018-01-09 22:08] #134 closed

[2018-01-18 17:11] jcmontx opened #199 ""dotnet new freya" not working"
When I try to create a project I get the following output

![image](https://user-images.githubusercontent.com/10617099/35111129-4a4d2720-fc59-11e7-9373-84511cfbe52b.png)

This is my version of the sdk

![image](https://user-images.githubusercontent.com/10617099/35111194-77332adc-fc59-11e7-83c1-b849bcf7fa29.png)

[2018-01-29 05:20] girvo commented on #199
Same here, unfortunately. Running macOS High Sierra, `dotnet` v2.1.4

[2018-01-29 20:18] theimowski commented on #199
Try with explicit `--language F#` parameter, see https://github.com/SAFE-Stack/SAFE-template/issues/28

[2018-03-08 03:36] panesofglass opened #200 "Should we adopt ASP.NET Core types?"
Should we drop OWIN in favor of the ASP.NET types so that we could potentially improve performance and pick up more interop possibilities? I don’t have any specific things in mind and would love to know what others think.

[2018-03-08 03:41] panesofglass opened #201 "Provide a json-home resource"
[Json-home](https://tools.ietf.org/html/draft-nottingham-json-home-03) is a format for exposing available resources under an entry point domain. This could be a useful utility to expose for type generators or REST clients. It would need resource metadata from any machines. I don’t know whether this would be useful outside use of router/machines.

[2018-10-11 01:56] panesofglass commented on #200
Ping @kolektiv @neoeinstein

[2018-10-11 17:32] panesofglass commented on #200
@et1975 noted that he uses Freya on Nowin, so that would likely prohibit moving off OWIN, at least for his case. I still think this worth further discussion, specifically for reasons of performance. I think the Freya abstractions make it such that the lower level types can remain completely hidden, meaning there's a possibility of having a switch to use one set of types versus another, though that

[2018-10-11 17:40] et1975 commented on #200
To be fair, that was a while ago - at the time that was the fastest combo, but all projects since were Kestrel-hosted. If I was to touch that project again I'd move it to Kestrel, so please consider it as "building on OWIN was a good architectural decision" sort of comment.

[2018-10-16 13:28] panesofglass commented on #200
@btrepp I think it would require a Suave adapter. OWIN is certainly a better option as it's already supported in most (or all) hosting options. The benefit of switching to the ASP.NET Core types is that it removes this mapping layer. It's not explicit, as ASP.NET Core provides a built-in adapter, however, this requires allocations that would be better avoided. It's certainly possible that we could

[2018-10-30 13:14] et1975 opened #205 ">?= (Pipline.compose) on freya<PipelineChoice> and freyaRouter causes significant delay in every request"
Essentially doing this: https://blog.mavnn.co.uk/logging-freya/
and finding that adding the composition affects every request - it takes a significant CPU hit (response time going from ~20ms to ~300ms). Tests indicate that it's something in the composition itself, as injecting the value into the freya state takes no time at all.

Sample code:
[code]

Wondering if I'm doing it wrong, or maybe there

[2018-10-31 14:01] panesofglass commented on #205
I'm guessing there is a way to optimize this. Glad to know I'm not crazy. I found this same issue in the past but didn't have time to figure out why it was so bad.

[2018-10-31 14:04] #161 closed

[2018-10-31 14:05] panesofglass commented on #141
Released netstandard2.0 packages.

[2018-10-31 14:05] #141 closed

[2018-10-31 14:05] #162 closed

[2018-10-31 14:05] #166 closed

[2018-10-31 14:06] #157 closed

[2018-10-31 14:07] panesofglass commented on #199
Yes, we need to update the docs.

[2018-10-31 14:11] theimowski commented on #199
Just FYI: Newest dotnet SDK doesn't have this issue anymore  - no need for explicit `--language F#` param anymore

[2018-10-31 14:12] #52 closed

[2018-10-31 14:13] #87 closed

[2018-10-31 14:13] #53 closed

[2018-10-31 14:14] #107 closed

[2018-10-31 14:15] #82 closed

[2018-10-31 14:15] #199 closed

[2018-10-31 14:16] #115 closed

[2018-12-28 22:08] panesofglass opened #206 "Freya.Hopac doesn't work once converted to use paket"
Steps to reproduce:

1. Install `Freya.Template` using `dotnet new -i Freya.Template`
2. Generate a new Freya project using Kestrel and Hopac, e.g. `mkdir test && cd test && dotnet new freya -n Test -o src/Test -f kestrel -c hopac`
3. Run `dotnet build src/Test && dotnet src/Test/bin/Debug/netcoreapp2.1/Test.dll` to verify the project builds and runs by navigating to http://localhost:5000/hello in

[2018-12-29 04:25] panesofglass opened #207 "Add Task packages as alternative to Async and Hopac"
As ASP.NET Core and OWIN work directly with `Task`, it seems worthwhile to try to leverage the `TaskBuilder.fs`, at least for the sake of some benchmarks to determine whether this provides a possible simplification to the codebase. A first pass is likely to make things harder, but I would hope to move in the direction of [Giraffe](https://github.com/giraffe-fsharp/Giraffe) with respect to supporti

[2020-05-18 20:09] mjarosie opened #209 "freya.io is down"
Hi,
I'm not sure where to report this issue, so I'll just post it here.
The [freya website](https://freya.io/) is down (https://www.isitdownrightnow.com/freya.io.html)

[2020-09-02 00:40] joshuapassos opened #210 "Dead project"
Last commit in 2018. Please, archive the project